<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/family_budget/kakei_chosa_prepro_to_dash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 家計調査データの分析

## データの紹介

- [独立行政法人 統計センター 一般用ミクロデータ 平成21年全国消費実態調査 （十大費目）](https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho.zip) https://www.nstac.go.jp/services/ippan-microdata.html
- [独立行政法人 統計センター 一般用ミクロデータ 平成21年全国消費実態調査 （詳細品目）](https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho_s.zip) https://www.nstac.go.jp/services/ippan-microdata.html
- [独立行政法人 統計センター 一般用ミクロデータ 就業構造基本調査 （平成４年～24年）](https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_shugyou.zip) https://www.nstac.go.jp/services/ippan-microdata.html

## 課題1

https://www.nstac.go.jp/services/ippan-microdata.html

をクリックし、ippan_2009zensho.zip と ippan_2009zensho_s.zip がどのように異なるか見てみましょう。

## データの取得と解凍

!の後にLinuxコマンドを書くとそのセルの命令はPythonプログラムではなくLinuxのコマンドとして実行されます。

wget はデータをダウンロードするのに使うことができるLinuxのコマンドです。

In [1]:
!wget https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho_s.zip

--2020-08-19 05:26:36--  https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho_s.zip
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho_s.zip [following]
--2020-08-19 05:26:36--  https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho_s.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33090889 (32M) [application/zip]
Saving to: ‘ippan_2009zensho_s.zip’

ippan_2009zensho_s. 100%[===================>]  31.56M  57.4MB/s    in 0.5s

2020-08-19 05:26:37 (57.4 MB/s) - ‘ippan_2009zensho_s.zip’ saved [33090889/33090889]

unzip を zip ファイルを解凍する Linux コマンドです。

In [2]:
!unzip /content/ippan_2009zensho_s.zip

Archive:  /content/ippan_2009zensho_s.zip
  inflating: ippan_2009zensho_s/ippan_2009zensho_s.xls
  inflating: ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv

## 課題2

- `ippan_2009zensho_s_dataset.csv` の何行目からが表データのスタートか見てみましょう

## 分析に必要なPythonパッケージのインストール

pip はPythonのパッケージをインストールするためのコマンドです。
空白を間にはさみ複数のパッケージを連続して書くとそれらがすべてインストールされます。

dashはダッシュボードのWebアプリケーションを構築するためのフレームワークタイプのPythonパッケージです。

jupyter_dashはJupyter Notebookでdashを使うためのPythonパッケージです。

plotlyはオープンソースのインタラクティブなグラフライブラリのPythonパッケージです。

colabには最初からplotlyがインストールされていますが最新版を使うために下記では`--upgrade`オプションをつけインストールし直しています。

In [3]:
!pip install dash jupyter_dash 
!pip install --upgrade plotly

Collecting dash
  Downloading https://files.pythonhosted.org/packages/1d/d1/191ad32bd9e6d10b2fc0f5d31e9e6a85fdb2642088658f75817d67bdeaea/dash-1.14.0.tar.gz (70kB)
     |████████████████████████████████| 71kB 3.3MB/s
Collecting jupyter_dash
  Downloading https://files.pythonhosted.org/packages/b9/b9/5f9499a0154124a262c85e3a99033b9b3a20dc3d2707b587f52b32b60d76/jupyter_dash-0.3.1-py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 6.6MB/s
Requirement already satisfied: Flask>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from dash) (1.1.2)
Collecting flask-compress
  Downloading https://files.pythonhosted.org/packages/a0/96/cd684c1ffe97b513303b5bfd4bbfb4114c5f4a5ea8a737af6fd813273df8/Flask-Compress-1.5.0.tar.gz
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from dash) (4.4.1)
Collecting dash_renderer==1.6.0
  Downloading https://files.pythonhosted.org/packages/da/a6/ddbcd01c638a2c235bfe13fd75155b344c7b7ab1c6466fe6d46b159897ad/dash_renderer-1.6.0.tar.gz (1.2MB)
     |████████████████████████████████| 1.2MB 37.5MB/s
Collecting dash-core-components==1.10.2
  Downloading https://files.pythonhosted.org/packages/ee/74/f961bb01aa015b76c60045cf8ad5d9eb2279656f4483b42750ec3b925c9c/dash_core_components-1.10.2.tar.gz (3.4MB)
     |████████████████████████████████| 3.4MB 43.8MB/s
Collecting dash-html-components==1.0.3
  Downloading https://files.pythonhosted.org/packages/da/20/46714ae501ccf16e5e37ca160c06e27347d19889687454168730e6744cdc/dash_html_components-1.0.3.tar.gz (187kB)
     |████████████████████████████████| 194kB 31.9MB/s
Collecting dash-table==4.9.0
  Downloading https://files.pythonhosted.org/packages/54/9f/11347b397b840b67481f6ecadefb64de0b57d199752d5e182161a4217f1d/dash_table-4.9.0.tar.gz (1.8MB)
     |████████████████████████████████| 1.8MB 42.4MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from dash) (0.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from jupyter_dash) (5.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from jupyter_dash) (2.23.0)
Collecting ansi2html
  Downloading https://files.pythonhosted.org/packages/b7/f5/0d658908d70cb902609fbb39b9ce891b99e060fa06e98071d369056e346f/ansi2html-1.5.2.tar.gz
Requirement already satisfied: retrying in /usr/local/lib/python3.6/dist-packages (from jupyter_dash) (1.3.3)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from jupyter_dash) (4.10.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0.2->dash) (1.1.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0.2->dash) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0.2->dash) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0.2->dash) (1.0.1)
Collecting brotli
  Downloading https://files.pythonhosted.org/packages/f4/68/60a220454dc5083c6d59b41aa90bb1c96fad62a0abf3a33e0ef64b38638a/Brotli-1.0.7-cp36-cp36m-manylinux1_x86_64.whl (352kB)
     |████████████████████████████████| 358kB 41.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly->dash) (1.15.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (4.3.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (2.1.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter_dash) (49.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter_dash) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter_dash) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter_dash) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter_dash) (2.10)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter_dash) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter_dash) (5.3.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=1.0.2->dash) (1.1.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->jupyter_dash) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyter_dash) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->jupyter_dash) (0.6.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter_dash) (4.6.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter_dash) (2.8.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter_dash) (19.0.2)
Building wheels for collected packages: dash, flask-compress, dash-renderer, dash-core-components, dash-html-components, dash-table, ansi2html
  Building wheel for dash (setup.py) ... done
  Created wheel for dash: filename=dash-1.14.0-cp36-none-any.whl size=80129 sha256=f2702e1155a67ae5730d63eda979afc29e734fe0b4ad6672edd4f87326178038
  Stored in directory: /root/.cache/pip/wheels/1d/54/0b/e846f762d47e8abc9234419822d013dfb2ccf957b48e411dc6
  Building wheel for flask-compress (setup.py) ... done
  Created wheel for flask-compress: filename=Flask_Compress-1.5.0-cp36-none-any.whl size=5273 sha256=5525daa918ff6936d3b49097d66d5ff979f1b2038c2d678ddf7e1aad97487cf1
  Stored in directory: /root/.cache/pip/wheels/f7/e9/e4/5afc286be7c87461375e33152558415dfeb0c8f5af3b50e742
  Building wheel for dash-renderer (setup.py) ... done
  Created wheel for dash-renderer: filename=dash_renderer-1.6.0-cp36-none-any.whl size=1182221 sha256=e2063e584f6d09e3e65dc21fca7a7c113d404d7de0158277335ef5c20034047f
  Stored in directory: /root/.cache/pip/wheels/2a/de/21/8774fe1ae2271c4747c55c5bcd3e914302a7a6e55a77d866f2
  Building wheel for dash-core-components (setup.py) ... done
  Created wheel for dash-core-components: filename=dash_core_components-1.10.2-cp36-none-any.whl size=3457324 sha256=411aaef049c04dd8d7a8324510d1b0eb919431e952d4ebcc3ee3b48961642e3f
  Stored in directory: /root/.cache/pip/wheels/2a/38/71/0c7e350a8280f6c94a2024a4d16ba905dd2a86ed2aa4a093e3
  Building wheel for dash-html-components (setup.py) ... done
  Created wheel for dash-html-components: filename=dash_html_components-1.0.3-cp36-none-any.whl size=427303 sha256=cf00c954d3858ac0371d629b03dd4161acb9ac2dff31e90e40f74fc08c3ff7b0
  Stored in directory: /root/.cache/pip/wheels/22/c0/79/ef4c2b20a23dc8457ae75c3da5f63163db213d86e13e00fe26
  Building wheel for dash-table (setup.py) ... done
  Created wheel for dash-table: filename=dash_table-4.9.0-cp36-none-any.whl size=1780769 sha256=1115678197ea7ee94d4e424ea5074b0935842aa116b014598ce1afc9b3c9db36
  Stored in directory: /root/.cache/pip/wheels/f6/99/e4/a3af0a6f2d07ace02dd25984c08294d2749818c38f44d55338
  Building wheel for ansi2html (setup.py) ... done
  Created wheel for ansi2html: filename=ansi2html-1.5.2-cp36-none-any.whl size=13863 sha256=4614cf28605034284ba3236f8499b33f878ded6f342df0c96764b495c50282e8
  Stored in directory: /root/.cache/pip/wheels/f9/ea/e0/1ed3c3945ce073f930f3e5aa2b9bbadb03cd2efc8f8695cd61
Successfully built dash flask-compress dash-renderer dash-core-components dash-html-components dash-table ansi2html
Installing collected packages: brotli, flask-compress, dash-renderer, dash-core-components, dash-html-components, dash-table, dash, ansi2html, jupyter-dash
Successfully installed ansi2html-1.5.2 brotli-1.0.7 dash-1.14.0 dash-core-components-1.10.2 dash-html-components-1.0.3 dash-renderer-1.6.0 dash-table-4.9.0 flask-compress-1.5.0 jupyter-dash-0.3.1
Collecting plotly
  Downloading https://files.pythonhosted.org/packages/bf/5f/47ab0d9d843c5be0f5c5bd891736a4c84fa45c3b0a0ddb6b6df7c098c66f/plotly-4.9.0-py2.py3-none-any.whl (12.9MB)
     |████████████████████████████████| 12.9MB 200kB/s
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.9.0

In [4]:
import pandas as pd

In [5]:
s = pd.read_csv('/content/ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv', encoding='shift_jis', header=8)

## 課題3
- `encoding` オプションを付けないと`s`がどうなるか確認しましょう
- `header` オプションを付けないと`s`がどうなるか確認しましょう
- `header` オプションの数値を変えると`s`がどうなるか確認しましょう

## データフレームとは

ここで `s` のデータ構造はデータフレームと呼ばれます。
データフレームとはとりあえずテーブルデータを保持するためのデータ構造と考えていただけばOKです。
`s`とだけ書いたセルをそのまま実行するとデータの内容を見ることができます。

## 課題4

- `ippan_2009zensho_s.xls` を Google Sheets で開いて、データ行列の定義を確認しましょう。

In [7]:
s

       3City  T_SeJinin  T_SyuJinin  T_JuSyoyu  ...  E407  E408  E409  E410
0          1          2           1          1  ...  1141   576   186   390
1          1          2           1          1  ...   348   282    94   188
2          1          2           1          1  ...   658   429   183   246
3          1          2           1          1  ...   445   205    55   151
4          1          2           1          1  ...   428   445   138   307
...      ...        ...         ...        ...  ...   ...   ...   ...   ...
45806      0          3           2          2  ...   724  1817   957   860
45807      0          3           2          2  ...   372   769   363   406
45808      0          3           2          2  ...   362  1431   973   457
45809      0          3           2          2  ...  1562  4129  2041  2088
45810      0          3           2          2  ...   518  1395   685   710

[45811 rows x 430 columns]

## データフレームの列の選択

`s` のうち `OL_Expenditure`までの列を選択し、細かい分類の支出情報の列を取り除いてみましょう。
そのためにはデータフレームの `loc` メソッドを使います。

In [8]:
data = s.loc[:, :'OL_Expenditure']
data

       3City  T_SeJinin  T_SyuJinin  ...  Education  Recreation  OL_Expenditure
0          1          2           1  ...          0       14433           76719
1          1          2           1  ...          0       19048           27089
2          1          2           1  ...          0       17289           69719
3          1          2           1  ...          0        8605           12077
4          1          2           1  ...          0       38231           39527
...      ...        ...         ...  ...        ...         ...             ...
45806      0          3           2  ...         30        4315           46326
45807      0          3           2  ...          8       12656           19540
45808      0          3           2  ...         25        4309           28619
45809      0          3           2  ...         28       58844          104302
45810      0          3           2  ...          3       14536           31135

[45811 rows x 20 columns]

## [記述統計量(英: descriptive statistics value)](https://ja.wikipedia.org/wiki/%E8%A6%81%E7%B4%84%E7%B5%B1%E8%A8%88%E9%87%8F) の確認

記述統計量を確認しデータの範囲や代表的な値がどの程度か確認しましょう。
そのためにはデータフレームの `describe` メソッドを使います。

In [9]:
data.describe()

              3City    T_SeJinin  ...    Recreation  OL_Expenditure
count  45811.000000  45811.00000  ...  4.581100e+04    4.581100e+04
mean       0.400559      2.61291  ...  3.109929e+04    6.856828e+04
std        0.490017      0.48709  ...  3.289503e+04    8.456648e+04
min        0.000000      2.00000  ...  3.720000e+02    3.450000e+02
25%        0.000000      2.00000  ...  1.218200e+04    2.479300e+04
50%        0.000000      3.00000  ...  2.170800e+04    4.463400e+04
75%        1.000000      3.00000  ...  3.831100e+04    8.090950e+04
max        1.000000      3.00000  ...  1.019545e+06    2.133987e+06

[8 rows x 20 columns]

## plotly (express) を用いた可視化

ここでは ... を可視化してみましょう。

In [ ]:
import plotly.express as px

In [ ]:
px.violin(data, y=data.columns)

In [ ]:
px.histogram(data, x='Y_Income', histnorm='percent', nbins=100)

In [ ]:
data_bins = pd.cut(data['Y_Income'].values, bins=10)

In [ ]:
data_bins

# ↑いまいちなビン作り・・・
# ↓自作bin作成

In [ ]:
bin_image = [0, 2000, 4000, 6000, 8000, 12000, 20000]

In [ ]:
bin_image

In [ ]:
import numpy as np

In [ ]:
bin_image = [0, 2000, 4000, 6000, 8000, 12000, 20000]
bin_array = np.digitize(data['Y_Income'], bin_image)

In [ ]:
cont = pd.read_excel("/content/ippan_2009zensho_s/ippan_2009zensho_s.xls")

In [ ]:
cont[:50]

## 各消費分類の消費支出に対する割合を作成する

In [ ]:
data_test = data.loc[: ,'L_Expenditure':'OL_Expenditure']

In [ ]:
data_test

In [ ]:
data_test.apply(lambda x: x/ data_test['L_Expenditure'])

In [ ]:
data_expenditure_ratio = data_test.apply(lambda x: x / data_test['L_Expenditure'])
data_front = data.loc[:, :'Y_Income']

In [ ]:
px.violin(data_expenditure_ratio, x=data_expenditure_ratio.columns[1:])

In [ ]:
data_front = data_front.drop('Weight',axis=1)

In [ ]:
data_preped = pd.concat([data_front, data_expenditure_ratio], axis=1)

In [ ]:
data_preped

In [ ]:
bin_image = [0, 2000, 4000, 6000, 8000, 12000, 20000]
bin_array = np.digitize(data['Y_Income'], bin_image)
data_preped['bins'] = bin_array

In [ ]:
data_preped

In [ ]:
import plotly.graph_objects as go

In [ ]:
fig = go.Figure()

for num in data_preped.bins.unique():
  data_preped_num = data_preped[data_preped['bins'] == num]
  fig.add_trace(go.Histogram(x=data_preped_num['Food'], name=f'{num}', histnorm='probability', nbinsx=20))

fig.show()

## どんな可視化をするか？

- ビンの個数を動かせる
- ビンの数値を変更できる
- それをヒストグラムで描画できる

In [ ]:
data_for_dash = data_preped.drop('bins', axis=1)

In [ ]:
from jupyter_dash import JupyterDash 
import dash_core_components as dcc 
import dash_html_components as html 

from dash.dependencies import Input, Output, State, ALL

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
                       

                       html.Button(id='my_button', children='Add Input'),
                      
                      html.Div([
                       html.Div([
                       html.Div(id='input_zone', children=[]),
                      ], style={'width': '25%', 'display': 'inline-block', 'verticalAlign': 'top'}),
                       


                       html.Div([
                                 dcc.Dropdown(id='my_dropdown',
                                              options=[{'label': col, 'value': col} for col in data_for_dash.columns],
                                              value='Food'
                                              ),
                                 dcc.Graph(id='my_graph'),
                                
                                html.Div([
                                 html.H3('Histogram Bin Num: '),
                                 dcc.Input(id='bin_num', value=10, type='number'),
                                ]),
                       ], style={'width': '70%', 'display': 'inline-block'}),
                      ]),
                       
                       html.Div([
                       dcc.RangeSlider(id='my_range_slider',
                                       min=0,
                                       max=data_for_dash['Y_Income'].max()
                                       
                                       ),
                        html.Button(id='slider_button', children='graph update'),
                       ], style={'width': '90%', 'height': 100, 'margin': 'auto'}),

])

@app.callback(Output('input_zone', 'children'), [Input('my_button', 'n_clicks')], [State('input_zone', 'children')], prevent_initial_call=True)
def update_input_zone(n_clicks, existing_children):
  my_inputs = html.Div([
                        dcc.Input(id={'type': 'my_inputs', 'index': n_clicks}, value=0)
  ])
  existing_children.append(my_inputs)
  return existing_children

@app.callback(Output('my_range_slider', 'value'), [Input({'type': 'my_inputs', 'index': ALL}, 'value')])
def update_slider(enter_values):
  if len(enter_values) > 1:
    enter_values = [int(i) for i in enter_values]
  return enter_values

@app.callback(Output('my_graph', 'figure'), [Input('slider_button', 'n_clicks'), Input('my_dropdown', 'value'), Input('bin_num', 'value')], [State('my_range_slider','value')], prevent_initial_call=True)
def update_graph(n_clicks, slider_values, bin_num, selected_values):

  if len(selected_values) > 1 and sum(selected_values) > 1:
    bin_array = np.digitize(data_for_dash['Y_Income'], selected_values)
    data_for_dash['bins'] = bin_array  
    fig = go.Figure()
    for num in data_for_dash['bins'].unique():
      update_df = data_for_dash[data_for_dash['bins'] == num]
      fig.add_trace(go.Histogram(x=update_df[slider_values], histnorm='probability', nbinsx=bin_num))
  
    return fig
  return dash.no_update


app.run_server(mode='inline')

In [ ]:
data_for_dash

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!mkdir '/content/drive/My Drive/pycon-tutorial'

In [ ]:
data_for_dash.to_csv('/content/drive/My Drive/pycon-tutorial/data_for_dash.csv')

In [ ]:
test = dcc.RangeSlider(min=0, max=100, value=[0,100,200,300,400])

In [ ]:
test.value

In [ ]:
sum(test.value)

In [ ]:
len(test.value)

In [ ]:
if (len(test.value) > 4) & (sum(test.value) > 1):
  print("yeah")
else:
  print('nooo')