In [10]:
import geopandas as gpd
from zipfile import ZipFile
import pandas as pd

In [8]:
with ZipFile("../data/tblT000866C01.zip") as myzip:
    myzip.extractall()

In [18]:
df = pd.read_csv('tblT000866C01.txt', encoding="cp932", header=[0,1])

In [19]:
df[:100]

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T000866001,T000866002,T000866003,T000866004,T000866005,T000866006,T000866007,T000866008,T000866009,T000866010,T000866011,T000866012,T000866013
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数,Ａ 管理的職業従事者,Ｂ 専門的・技術的職業従事者,Ｃ 事務従事者,Ｄ 販売従事者,Ｅ サービス職業従事者,Ｆ 保安職業従事者,Ｇ 農林漁業従事者,Ｈ 生産工程従事者,Ｉ 輸送・機械運転従事者,Ｊ 建設・採掘従事者,Ｋ 運搬・清掃・包装等従事者,Ｌ 分類不能の職業
0,1101,1,札幌市中央区,NaN,0,NaN,NaN,102279,4202,23005,22450,14757,12394,1737,153,3582,1337,1715,3940,13007
1,11010200,2,札幌市中央区,宮ケ丘（番地）,2,1000.0,NaN,X,X,X,X,X,X,X,X,X,X,X,X,X
2,11010300,2,札幌市中央区,円山,0,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-
3,11010400,2,札幌市中央区,円山西町,0,NaN,NaN,6,-,1,-,-,1,1,-,2,-,-,1,-
4,11011000,2,札幌市中央区,宮の森,1,NaN,0200,38,2,15,3,3,1,-,-,2,-,1,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1101170001,3,札幌市中央区,円山西町１丁目,0,NaN,NaN,220,14,62,38,39,30,6,-,3,2,2,12,12
96,1101170002,3,札幌市中央区,円山西町２丁目,0,NaN,NaN,194,16,60,31,28,25,4,1,9,2,3,9,6
97,1101170003,3,札幌市中央区,円山西町３丁目,0,NaN,NaN,167,8,52,38,15,17,2,-,9,2,2,9,13
98,1101170004,3,札幌市中央区,円山西町４丁目,0,NaN,NaN,82,11,16,17,10,9,-,1,4,2,1,5,6
99,1101170005,3,札幌市中央区,円山西町５丁目,0,NaN,NaN,182,10,48,39,27,19,2,2,5,6,3,7,14

In [23]:
print(df.columns[2])
print(df.columns[7])

('CITYNAME', 'Unnamed: 2_level_1')
('T000866001', '総数')

In [21]:
import plotly.graph_objects as go

ModuleNotFoundError: No module named 'plotly'

In [22]:
df.loc[:, ('CITYNAME', 'Unnamed: 2_level_1')]

0          札幌市中央区
1          札幌市中央区
2          札幌市中央区
3          札幌市中央区
4          札幌市中央区
           ...
25650    根室振興局羅臼町
25651    根室振興局羅臼町
25652    根室振興局羅臼町
25653    根室振興局羅臼町
25654    根室振興局羅臼町
Name: (CITYNAME, Unnamed: 2_level_1), Length: 25655, dtype: object

In [25]:
df.loc[:, ('T000866001', '総数')].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.