<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/1_%E8%B2%BF%E6%98%93%E5%8F%8E%E6%94%AF%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E8%A7%A3%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ここでは貿易収支のデータを解析します。
データは
https://www.customs.go.jp/toukei/shinbun/trade-st/timeseries_202005.csv
にあります。

pandasは...を行うpython packageです。
このpackageを使うには...をします。

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("https://www.customs.go.jp/toukei/shinbun/trade-st/timeseries_202005.csv")

UnicodeDecodeError: ignored

Google
```
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x81 in position 0: invalid start byte
```

In [12]:
df = pd.read_csv("https://www.customs.go.jp/toukei/shinbun/trade-st/timeseries_202005.csv", encoding="shift-jis")

In [13]:
df

                             《季節調整値》　（単位：百万円） Unnamed: 1 Unnamed: 2
0    Seasonally adjusted data (a million yen)        NaN        NaN
1                                Years/Months  Exp-Total  Imp-Total
2                                         NaN        NaN        NaN
3                                     2010/06    5635901    5238395
4                                     2010/07    5688985    5187889
..                                        ...        ...        ...
118                                    2020/1    5941396    6179581
119                                    2020/2    6078998    5727298
120                                    2020/3    5782303    6107656
121                                    2020/4    5121827    6164967
122                                    2020/5    4823431    5424400

[123 rows x 3 columns]

Google
```
read_csv skip rows
```

In [14]:
df = pd.read_csv("https://www.customs.go.jp/toukei/shinbun/trade-st/timeseries_202005.csv", encoding="shift-jis", header=3)

In [15]:
df

    Unnamed: 0  Unnamed: 1  Unnamed: 2
0      2010/06     5635901     5238395
1      2010/07     5688985     5187889
2      2010/08     5643842     5176241
3      2010/09     5581432     5108268
4      2010/10     5748036     5138540
..         ...         ...         ...
115     2020/1     5941396     6179581
116     2020/2     6078998     5727298
117     2020/3     5782303     6107656
118     2020/4     5121827     6164967
119     2020/5     4823431     5424400

[120 rows x 3 columns]

Google
```
rename pandas columns
```

In [16]:
df

    Unnamed: 0  Unnamed: 1  Unnamed: 2
0      2010/06     5635901     5238395
1      2010/07     5688985     5187889
2      2010/08     5643842     5176241
3      2010/09     5581432     5108268
4      2010/10     5748036     5138540
..         ...         ...         ...
115     2020/1     5941396     6179581
116     2020/2     6078998     5727298
117     2020/3     5782303     6107656
118     2020/4     5121827     6164967
119     2020/5     4823431     5424400

[120 rows x 3 columns]

In [17]:
df = df.rename(columns={"Unnamed: 0": "Years/Months", "Unnamed: 1": "Exp-Total", "Unnamed: 2": "Imp-Total"})

In [18]:
df

    Years/Months  Exp-Total  Imp-Total
0        2010/06    5635901    5238395
1        2010/07    5688985    5187889
2        2010/08    5643842    5176241
3        2010/09    5581432    5108268
4        2010/10    5748036    5138540
..           ...        ...        ...
115       2020/1    5941396    6179581
116       2020/2    6078998    5727298
117       2020/3    5782303    6107656
118       2020/4    5121827    6164967
119       2020/5    4823431    5424400

[120 rows x 3 columns]