In [2]:
from io import StringIO
import pandas as pd
from requests_html import HTMLSession

### 家計調査のデータはread_csvで直接読み込みができない
- URL: https://www.stat.go.jp/data/kakei/longtime/csv/h-mon-a.csv

In [3]:
df = pd.read_csv('https://www.stat.go.jp/data/kakei/longtime/csv/h-mon-a.csv')
df

Empty DataFrame
Columns: [<html><head><title>Request Rejected</title></head><body>The requested URL was rejected. Please consult with your administrator.<br><br>Your support ID is: 6133672767600773129</body></html>]
Index: []

### なので、一旦requests_htmlを使って読み込みます
- そしてencodingをshift-jisに変えるのがポイント

In [4]:
session = HTMLSession()
r = session.get('https://www.stat.go.jp/data/kakei/longtime/csv/h-mon-a.csv')

In [5]:
r.text[:100]

'\x93ñ\x90l\x88È\x8fã\x82Ì\x90¢\x91Ñ_\x8ex\x8fo\x8bà\x8az[\x89~],,,,,,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,2'

In [6]:
r.encoding

'ISO-8859-1'

In [7]:
r.encoding = 'shift-jis'

In [9]:
r.text[:100]

'二人以上の世帯_支出金額[円],,,,,,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,3'

In [8]:
data1 = StringIO(r.text)

df1 = pd.read_csv(data1)

In [9]:
df1.head()

,二人以上の世帯_支出金額[円],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,1,2,3,4,...,236,237,238,239,240,241,242,243,244,245
0,NaN,NaN,NaN,NaN,NaN,NaN,2000年,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020年,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,(平成12年),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,(令和2年),NaN,NaN,NaN,NaN
2,表側連番,階層,大分類,中分類,小分類,品目分類,1月,2月,3月,4月,...,8月,9月,10月,11月,12月,1月,2月,3月,4月,5月
3,1,-,-,-,-,世帯数分布(抽出率調整),10000,10000,10000,10000,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
4,2,-,-,-,-,集計世帯数,7887,7942,7934,7922,...,7479,7517,7470,7466,7481,7443,7475,7489,7534,7430