<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/library/Pandas_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas 

- Pandasは表データの読み込み・書き込み・加工を行うパッケージです。
- このノートでは次の順番でPandasの基本的な使い方を解説します。
  - データ構造    
    - Series
    - DataFrame
  - データ操作
    - loc属性
    - iloc属性
    - 名称
  - データの更新追加    
    - 更新
    - 追加

In [ ]:
import pandas as pd

# データ構造
## Series
- Seriesは行ラベル付きの1次元のデータです。行ラベルはデータの左横に表示されます。行ラベルはindex属性、値はvalues属性となります。

In [ ]:
label = ['a', 'b', 'c', 'd', 'e']
data = [1, 2, 3, 4, 5]
s = pd.Series(data, index=label)

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
s.values

array([1, 2, 3, 4, 5])

## DataFrame
- DataFrameはラベル付きの2次元のデータです。表示するとデータフレームの左横に行ラベル、上側に列ラベルが付きます。左横の行ラベルはindex属性、上側の列ラベルはcolumns属性、値はvalues属性となります。

In [ ]:
data = {
'col1': [1,2,3,4,5],
'col2': [2,3,4,5,6],
'col3': [3,4,5,6,7]
}
index_name = ['zero', 'one', 'two', 'three', 'four']
df = pd.DataFrame(data, index=index_name)

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one       2     3     4
two       3     4     5
three     4     5     6
four      5     6     7

In [ ]:
df.index

Index(['zero', 'one', 'two', 'three', 'four'], dtype='object')

In [ ]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.values

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6],
       [5, 6, 7]])

# データ操作
## loc属性
- loc属性を用いると、ラベル名でデータを選択できます。

In [ ]:
# 1つのセルの選択
df.loc['one', 'col1']

2

In [ ]:
# 連続したセルの選択
df.loc['one': 'three', :]

       col1  col2  col3
one       2     3     4
two       3     4     5
three     4     5     6

In [ ]:
# 離れたセルの選択
df.loc[['one', 'four'], ['col1', 'col3']]

      col1  col3
one      2     4
four     5     7

In [ ]:
# 行名のみの指定で行すべてのデータを取得できます
df.loc['one']

col1    2
col2    3
col3    4
Name: one, dtype: int64

In [ ]:
# 複数行を指定する場合、リストに格納します
df.loc[['one', 'three']]

       col1  col2  col3
one       2     3     4
three     4     5     6

In [ ]:
# Seriesの場合
s.loc['b']

2

## iloc属性
- iloc属性を用いると、インデックスとコラムの位置番号を使ってデータを選択できます。0から行列番号を数えること、また終了を指定する場合、終了したい番号より1つ大きい数値で指定することに注意してください。

In [ ]:
# 1つのセルの選択
df.iloc[1, 1]

3

In [ ]:
# 連続したセルの選択
df.iloc[1:4, :]

       col1  col2  col3
one       2     3     4
two       3     4     5
three     4     5     6

In [ ]:
# 離れたセルの選択
df.iloc[[1, 4], [0, 2]]

      col1  col3
one      2     4
four     5     7

In [ ]:
# Seriesの場合
s.iloc[1]

2

## 列名によるデータ選択
- 列名を指定することにより、列全体を取得できます。

In [ ]:
df['col2']

zero     2
one      3
two      4
three    5
four     6
Name: col2, dtype: int64

In [ ]:
df[['col1', 'col3']]

       col1  col3
zero      1     3
one       2     4
two       3     5
three     4     6
four      5     7

In [ ]:
s['b']

2

# データの更新・追加
## データの更新
- 範囲の選択と共に、テーブルのデータ更新・追加ができます。

In [ ]:
# １マスのデータの更新
df.iloc[1, 1] = 111

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one       2   111     4
two       3     4     5
three     4     5     6
four      5     6     7

In [ ]:
# 複数範囲のデータの更新
df.iloc[1:4, 0] = [13, 14, 15]

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one      13   111     4
two      14     4     5
three    15     5     6
four      5     6     7

In [ ]:
# 複数範囲に同じデータを格納する
df.iloc[:, 2] = 0

In [ ]:
df

       col1  col2  col3
zero      1     2     0
one      13   111     0
two      14     4     0
three    15     5     0
four      5     6     0

# 行列の追加
## 行の追加
- 行の追加は、loc属性を用いて対応する値をデータフレームに渡します。

In [ ]:
df.loc[5] = 42

In [ ]:
df

       col1  col2  col3
zero      1     2     0
one      13   111     0
two      14     4     0
three    15     5     0
four      5     6     0
5        42    42    42

## 列の追加
- 列の追加は、列名と対応する値をデータフレームに渡します。

In [ ]:
df[4] = 4

In [ ]:
df

       col1  col2  col3  4
zero      1     2     0  4
one      13   111     0  4
two      14     4     0  4
three    15     5     0  4
four      5     6     0  4
5        42    42    42  4

# データを読み込む
## csvファイルを読み込む
  - read_csv関数を用います

In [ ]:
# データは福岡市の新型コロナウィルス感染　https://ckan.open-governmentdata.org/dataset/401307_covid19_patients
df_fukuoka_covid = pd.read_csv('https://ckan.open-governmentdata.org/dataset/6c9fc569-b523-4c56-828d-2ab3047df5a3/resource/c97a0ef7-8be9-4902-bf49-3fe5daf6d34c/download/401307_city_fukuoka_covid19_patients.csv')

In [ ]:
df_fukuoka_covid

        No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0        1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1        2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2        3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3        4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4        5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
...    ...          ...   ...   ...  ...   ...          ...  ..    ...
2593  2600       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2594  2601       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2595  2602       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2596  2603       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2597  2604       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[2598 rows x 16 columns]

## Excelファイルを読み込む
- read_excel関数を用いる

In [ ]:
# 福岡市給食献立　https://ckan.open-governmentdata.org/dataset/401307_syousaikonndate
df_fukuoka_kyushoku = pd.read_excel('https://ckan.open-governmentdata.org/dataset/8354be81-da59-42eb-b291-7cfdad3db9b6/resource/eb18252f-c00a-4219-b30f-b3986b0125f5/download/201912.xls')

In [ ]:
df_fukuoka_kyushoku

   Unnamed: 0 Unnamed: 1  ... Unnamed: 7 Unnamed: 8
0         NaN        NaN  ...        NaN   福岡市教育委員会
1         NaN        NaN  ...        NaN        NaN
2          記号          日  ...  お　も　な　材　料      調　味　料
3         NaN        NaN  ...        NaN        NaN
4         NaN        NaN  ...        NaN        NaN
..        ...        ...  ...        ...        ...
61        NaN        NaN  ...        NaN        NaN
62        NaN        NaN  ...        NaN        NaN
63        NaN        NaN  ...        NaN        NaN
64        NaN        NaN  ...        NaN        NaN
65        NaN        NaN  ...        NaN        NaN

[66 rows x 9 columns]

## HTMLのテーブルを読み込む
- read_html関数を使う

In [ ]:
# yahoo_financeより 
year_high = pd.read_html("https://info.finance.yahoo.co.jp/ranking/?kd=29&tm=d&mk=1", parse_dates=[5])[0]

In [ ]:
year_high

     コード     市場                                名称  ... 前営業日までの年初来高値.1     高値  掲示板
0   1322  東証ETF        上場インデックス中国A株 E FUND CSI300  ...           7070   7160  掲示板
1   1545  東証ETF  (NEXT FUNDS)NASDAQ-100(R)連動型上場投信  ...          12860  13000  掲示板
2   1870   東証1部                         矢作建設工業(株)  ...            879    890  掲示板
3   1926   東証1部                          ライト工業(株)  ...           1634   1644  掲示板
4   2487   東証1部                            (株)ＣＤＧ  ...           1705   1713  掲示板
5   2521  東証ETF        上場インデックスファンド米国株式(S&P500)H有  ...           1220   1230  掲示板
6   2522  東証ETF          iシェアーズ オートメーション&ロボット ETF  ...           2732   2761  掲示板
7   2562  東証ETF          上場インデックスファンド米国株式(ダウ平均)H有  ...           2456   2480  掲示板
8   2563  東証ETF         iシェアーズ S&P500 米国株 ETF(H有)  ...           2253   2272  掲示板
9   2564  東証ETF       グローバルX MSCIスーパーディビィデンド-日本株式  ...           1552   1584  掲示板
10  2607   東証1部                     不二製油グループ本社(株)  ...           3100   3120  掲示板
11  2681   東証1部                     (株)ゲオホールディングス  ...           1713   1719  掲示板
12  2818   東証1部                           (株)ピエトロ  ...           1671   1675  掲示板
13  3172   東証1部                         ティーライフ(株)  ...           1318   1434  掲示板
14  3199   東証1部                     綿半ホールディングス(株)  ...           2500   2528  掲示板
15  3254   東証1部                  (株)プレサンスコーポレーション  ...           1387   1406  掲示板
16  3326  東証JQS                         (株)ランシステム  ...           1000   1078  掲示板
17  3465   東証1部                     ケイアイスター不動産(株)  ...           2136   2215  掲示板
18  3689   マザーズ                           (株)イグニス  ...           2890   2964  掲示板
19  3712   東証2部                           (株)情報企画  ...           2799   2900  掲示板
20  3915   東証1部                          (株)テラスカイ  ...           5340   5420  掲示板
21  3955   東証2部                          (株)イムラ封筒  ...            864    994  掲示板
22  3966   マザーズ                         (株)ユーザベース  ...           2704   2745  掲示板
23  4051   マザーズ                  ＧＭＯフィナンシャルゲート(株)  ...          12180  13290  掲示板
24  4057   マザーズ                     (株)インターファクトリー  ...           6080   6990  掲示板
25  4100   東証1部                           戸田工業(株)  ...           2525   2622  掲示板
26  4182   東証1部                         三菱ガス化学(株)  ...           1938   1972  掲示板
27  4299   東証1部                         (株)ハイマックス  ...           2500   3000  掲示板
28  4304  東証JQS                          (株)Ｅストアー  ...           1364   1371  掲示板
29  4327  東証JQS                    日本エス・エイチ・エル(株)  ...           2383   2440  掲示板
30  4427   マザーズ                         (株)ＥｄｕＬａｂ  ...           7330   7980  掲示板
31  4481   東証2部                            ベース(株)  ...           5760   5890  掲示板
32  4825   東証1部                       (株)ウェザーニューズ  ...           4665   4760  掲示板
33  4921   東証1部                          (株)ファンケル  ...           3455   3520  掲示板
34  4931   マザーズ                          新日本製薬(株)  ...           2515   2962  掲示板
35  4975   東証1部                            (株)ＪＣＵ  ...           3665   3675  掲示板
36  5105   東証1部                      ＴＯＹＯ　ＴＩＲＥ(株)  ...           1786   1799  掲示板
37  5212  東証JQS                           不二硝子(株)  ...           2218   2290  掲示板
38  5947   名証1部                           リンナイ(株)  ...           9180   9850  掲示板
39  5947   東証1部                           リンナイ(株)  ...           9830   9890  掲示板
40  5974   東証2部                           中国工業(株)  ...            615    626  掲示板
41  6036   東証1部                       ＫｅｅＰｅｒ技研(株)  ...           2388   2439  掲示板
42  6062   東証1部               (株)チャーム・ケア・コーポレーション  ...           1006   1008  掲示板
43  6087   東証1部                           (株)アビスト  ...           2860   2940  掲示板
44  6199   東証1部                            (株)セラク  ...           1480   1560  掲示板
45  6305   東証1部                           日立建機(株)  ...           3720   3750  掲示板
46  6326   東証1部                            (株)クボタ  ...           1888   1921  掲示板
47  6406   東証1部                          フジテック(株)  ...           2215   2257  掲示板
48  6432   東証1部                          (株)竹内製作所  ...           2218   2231  掲示板
49  6455   東証1部                    (株)モリタホールディングス  ...           1997   2030  掲示板
50   コード     市場                                名称  ...   前営業日までの年初来高値     高値  掲示板

[51 rows x 9 columns]

# データを観察する

## 概要を観察する
- 先頭行を観察するheadメソッド
- 最終行を観察するtailメソッド
- データの大まかな統計値を観察するdescribeメソッド
- データのインデックスやコラムのデータ型や数値でないデータの情報を得られるinfoメソッド
- データの行列数を確認するshape属性

In [ ]:
df_fukuoka_covid.head()

   No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0   1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1   2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2   3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3   4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4   5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
df_fukuoka_covid.tail()

        No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
2593  2600       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2594  2601       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2595  2602       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2596  2603       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2597  2604       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
# 行数を変える場合引数nに値を渡す（初期値は5）
df_fukuoka_covid.head(15)

    No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0    1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1    2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2    3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3    4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4    5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
5    6       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
6    7       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
7    8       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
8    9       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
9   10       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
10  11       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
11  12       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
12  13       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
13  14       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
14  15       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN

[15 rows x 16 columns]

In [ ]:
df_fukuoka_covid.describe()

                No  全国地方公共団体コード  発症_年月日  ...  患者_渡航歴の有無フラグ   備考  退院済フラグ
count  2598.000000       2598.0     0.0  ...           3.0  0.0     0.0
mean   1302.827945     401307.0     NaN  ...           1.0  NaN     NaN
std     752.611926          0.0     NaN  ...           0.0  NaN     NaN
min       1.000000     401307.0     NaN  ...           1.0  NaN     NaN
25%     650.250000     401307.0     NaN  ...           1.0  NaN     NaN
50%    1303.500000     401307.0     NaN  ...           1.0  NaN     NaN
75%    1954.750000     401307.0     NaN  ...           1.0  NaN     NaN
max    2604.000000     401307.0     NaN  ...           1.0  NaN     NaN

[8 rows x 9 columns]

In [ ]:
df_fukuoka_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2598 entries, 0 to 2597
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            2598 non-null   int64
 1   全国地方公共団体コード   2598 non-null   int64
 2   都道府県名         2598 non-null   object
 3   市区町村名         2598 non-null   object
 4   公表_年月日        2598 non-null   object
 5   曜日            2598 non-null   object
 6   発症_年月日        0 non-null      float64
 7   居住地           2598 non-null   object
 8   年代            2598 non-null   object
 9   性別            2598 non-null   object
 10  患者_属性         0 non-null      float64
 11  患者_状態         0 non-null      float64
 12  患者_症状         0 non-null      float64
 13  患者_渡航歴の有無フラグ  3 non-null      float64
 14  備考            0 non-null      float64
 15  退院済フラグ        0 non-null      float64
dtypes: float64(7), int64(2), object(7)
memory usage: 324.9+ KB

In [ ]:
df_fukuoka_covid.shape

(2598, 16)

# 便利なメソッドなど
  - NaNを含む行列を削除するdropnaメソッド
  - 不要な行列を削除するdropメソッド
  - グループをまとめるgroupbyメソッド
  - indexを数値にするreset_indexメソッド
  - 文字列を置き換えるreplaceメソッド
  - map, applyメソッド

In [ ]:
df_fukuoka_covid.head()

   No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0   1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1   2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2   3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3   4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4   5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
# NaNを含む列を削除する
df_fukuoka_covid_dropna = df_fukuoka_covid.dropna(1)
df_fukuoka_covid_dropna.head()

   No  全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0   1       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1   2       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2   3       401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3   4       401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4   5       401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性

In [ ]:
df_fukuoka_covid_dropna_num = df_fukuoka_covid_dropna.drop({"No"}, axis=1)
df_fukuoka_covid_dropna_num.head()

   全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2       401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3       401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4       401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性

In [ ]:
fukuoka_dow = df_fukuoka_covid_dropna_num.groupby('曜日')

In [ ]:
fukuoka_dow.count()

    全国地方公共団体コード  都道府県名  市区町村名  公表_年月日  居住地   年代   性別
曜日
土           374    374    374     374  374  374  374
日           375    375    375     375  375  375  375
月           241    241    241     241  241  241  241
木           445    445    445     445  445  445  445
水           414    414    414     414  414  414  414
火           269    269    269     269  269  269  269
金           480    480    480     480  480  480  480

In [ ]:
dow_fukuoka = fukuoka_dow.count()
dow_fukuoka = dow_fukuoka.reset_index()
dow_fukuoka

  曜日  全国地方公共団体コード  都道府県名  市区町村名  公表_年月日  居住地   年代   性別
0  土          374    374    374     374  374  374  374
1  日          375    375    375     375  375  375  375
2  月          241    241    241     241  241  241  241
3  木          445    445    445     445  445  445  445
4  水          414    414    414     414  414  414  414
5  火          269    269    269     269  269  269  269
6  金          480    480    480     480  480  480  480

In [ ]:
# 感染の全体的な平均年齢を出すために年代を数値にする
covid_fukuoka = df_fukuoka_covid_dropna_num.copy()
covid_fukuoka

      全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0          401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1          401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2          401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3          401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4          401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性
...           ...   ...   ...        ... ..     ...  ...  ..
2593       401307   福岡県   福岡市  2020/8/28  金  福岡市城南区  30代  女性
2594       401307   福岡県   福岡市  2020/8/28  金  福岡市博多区  10代  女性
2595       401307   福岡県   福岡市  2020/8/28  金   福岡市東区  60代  男性
2596       401307   福岡県   福岡市  2020/8/28  金   福岡市東区  60代  女性
2597       401307   福岡県   福岡市  2020/8/28  金  福岡市中央区  70代  女性

[2598 rows x 8 columns]

In [ ]:
covid_fukuoka['年代'].unique()

array(['60代', '30代', '40代', '50代', '20代', '70代', '1歳未満', '90歳以上', '80代',
       '10歳未満', '10代', '調査中'], dtype=object)

In [ ]:
# 1歳未満は0,90歳以上は90,10歳未満は1、調査中は50に置き換える
age_replace = {'1歳未満': '0', '90歳以上': '90', '10歳未満':'1', '調査中': '50'}
for b, a in age_replace.items(): 

  covid_fukuoka['年代'] = covid_fukuoka['年代'].replace(b, a)

In [ ]:
covid_fukuoka['年代'].unique()

array(['60代', '30代', '40代', '50代', '20代', '70代', '0', '90', '80代', '1',
       '10代', '50'], dtype=object)

In [ ]:
# 例えば年代を数値にしたい場合、Seriesの値を用いて関数で処理するmapメソッドを使う
covid_fukuoka['年代'] = covid_fukuoka['年代'].map(lambda x: int(x.replace('代', '')))

In [ ]:
covid_fukuoka['年代'].unique()

array([60, 30, 40, 50, 20, 70,  0, 90, 80,  1, 10])

In [ ]:
covid_fukuoka['年代'].mean()

35.297536566589685

In [ ]:
# 行全体のデータを使ってデータを作る際にはapplyメソッドを用いる
# 例えば日付、場所、年代、性別をすべて文字列で持つ列を作成する場合

# apply

In [ ]:
# 初期設定は列で関数を適用する

covid_fukuoka.apply(lambda x: x[2] + x[3])

全国地方公共団体コード                802614
都道府県名                      福岡県福岡県
市区町村名                      福岡市福岡市
公表_年月日         2020/3/172020/3/24
曜日                             火火
居住地                   福岡市南区福岡市早良区
年代                             70
性別                           女性男性
dtype: object

In [ ]:
covid_fukuoka.apply(lambda x: str(x[3]) + x[5] + str(x[6]) + '歳' + x[7], axis=1)

0       2020/2/20福岡市中央区60歳男性
1       2020/2/20福岡市中央区60歳女性
2        2020/3/17福岡市南区30歳女性
3       2020/3/24福岡市早良区40歳男性
4        2020/3/26福岡市東区50歳男性
                ...
2593    2020/8/28福岡市城南区30歳女性
2594    2020/8/28福岡市博多区10歳女性
2595     2020/8/28福岡市東区60歳男性
2596     2020/8/28福岡市東区60歳女性
2597    2020/8/28福岡市中央区70歳女性
Length: 2598, dtype: object