<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/library/Pandas_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas 

- Pandasは表データの読み込み・書き込み・加工を行うパッケージです。
- このノートでは次の順番でPandasの基本的な使い方を解説します。
  - データ構造    
    - Series
    - DataFrame
  - データ操作
    - loc属性
    - iloc属性
    - 名称
  - データの更新追加    
    - 更新
    - 追加

In [ ]:
import pandas as pd

# データ構造
## Series
- Seriesは行ラベル付きの1次元のデータです。行ラベルはデータの左横に表示されます。行ラベルはindex属性、値はvalues属性となります。

In [ ]:
label = ['a', 'b', 'c', 'd', 'e']
data = [1, 2, 3, 4, 5]
s = pd.Series(data, index=label)

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
s.values

array([1, 2, 3, 4, 5])

## DataFrame
- DataFrameはラベル付きの2次元のデータです。表示するとデータフレームの左横に行ラベル、上側に列ラベルが付きます。左横の行ラベルはindex属性、上側の列ラベルはcolumns属性、値はvalues属性となります。

In [ ]:
data = {
'col1': [1,2,3,4,5],
'col2': [2,3,4,5,6],
'col3': [3,4,5,6,7]
}
index_name = ['zero', 'one', 'two', 'three', 'four']
df = pd.DataFrame(data, index=index_name)

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one       2     3     4
two       3     4     5
three     4     5     6
four      5     6     7

In [ ]:
df.index

Index(['zero', 'one', 'two', 'three', 'four'], dtype='object')

In [ ]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.values

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6],
       [5, 6, 7]])

# データ操作
## loc属性
- loc属性を用いると、ラベル名でデータを選択できます。

In [ ]:
# 1つのセルの選択
df.loc['one', 'col1']

2

In [ ]:
# 連続したセルの選択
df.loc['one': 'three', :]

       col1  col2  col3
one       2     3     4
two       3     4     5
three     4     5     6

In [ ]:
# 離れたセルの選択
df.loc[['one', 'four'], ['col1', 'col3']]

      col1  col3
one      2     4
four     5     7

In [ ]:
# 行名のみの指定で行すべてのデータを取得できます
df.loc['one']

col1    2
col2    3
col3    4
Name: one, dtype: int64

In [ ]:
# 複数行を指定する場合、リストに格納します
df.loc[['one', 'three']]

       col1  col2  col3
one       2     3     4
three     4     5     6

In [ ]:
# Seriesの場合
s.loc['b']

2

## iloc属性
- iloc属性を用いると、インデックスとコラムの位置番号を使ってデータを選択できます。0から行列番号を数えること、また終了を指定する場合、終了したい番号より1つ大きい数値で指定することに注意してください。

In [ ]:
# 1つのセルの選択
df.iloc[1, 1]

3

In [ ]:
# 連続したセルの選択
df.iloc[1:4, :]

       col1  col2  col3
one       2     3     4
two       3     4     5
three     4     5     6

In [ ]:
# 離れたセルの選択
df.iloc[[1, 4], [0, 2]]

      col1  col3
one      2     4
four     5     7

In [ ]:
# Seriesの場合
s.iloc[1]

2

## 列名によるデータ選択
- 列名を指定することにより、列全体を取得できます。

In [ ]:
df['col2']

zero     2
one      3
two      4
three    5
four     6
Name: col2, dtype: int64

In [ ]:
df[['col1', 'col3']]

       col1  col3
zero      1     3
one       2     4
two       3     5
three     4     6
four      5     7

In [ ]:
s['b']

2

# データの更新・追加
## データの更新
- 範囲の選択と共に、テーブルのデータ更新・追加ができます。

In [ ]:
# １マスのデータの更新
df.iloc[1, 1] = 111

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one       2   111     4
two       3     4     5
three     4     5     6
four      5     6     7

In [ ]:
# 複数範囲のデータの更新
df.iloc[1:4, 0] = [13, 14, 15]

In [ ]:
df

       col1  col2  col3
zero      1     2     3
one      13   111     4
two      14     4     5
three    15     5     6
four      5     6     7

In [ ]:
# 複数範囲に同じデータを格納する
df.iloc[:, 2] = 0

In [ ]:
df

       col1  col2  col3
zero      1     2     0
one      13   111     0
two      14     4     0
three    15     5     0
four      5     6     0

# 行列の追加
## 行の追加
- 行の追加は、loc属性を用いて対応する値をデータフレームに渡します。

In [ ]:
df.loc[5] = 42

In [ ]:
df

       col1  col2  col3
zero      1     2     0
one      13   111     0
two      14     4     0
three    15     5     0
four      5     6     0
5        42    42    42

## 列の追加
- 列の追加は、列名と対応する値をデータフレームに渡します。

In [ ]:
df[4] = 4

In [ ]:
df

       col1  col2  col3  4
zero      1     2     0  4
one      13   111     0  4
two      14     4     0  4
three    15     5     0  4
four      5     6     0  4
5        42    42    42  4

# データを読み込む
## csvファイルを読み込む
  - read_csv関数を用います

In [ ]:
# データは福岡市の新型コロナウィルス感染　https://ckan.open-governmentdata.org/dataset/401307_covid19_patients
df_fukuoka_covid = pd.read_csv('https://ckan.open-governmentdata.org/dataset/6c9fc569-b523-4c56-828d-2ab3047df5a3/resource/c97a0ef7-8be9-4902-bf49-3fe5daf6d34c/download/401307_city_fukuoka_covid19_patients.csv')

In [ ]:
df_fukuoka_covid

        No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0        1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1        2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2        3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3        4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4        5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
...    ...          ...   ...   ...  ...   ...          ...  ..    ...
1975  1981       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1976  1982       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1977  1983       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1978  1984       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1979  1985       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[1980 rows x 16 columns]

## Excelファイルを読み込む
- read_excel関数を用いる

In [ ]:
# 福岡市給食献立　https://ckan.open-governmentdata.org/dataset/401307_syousaikonndate
df_fukuoka_kyushoku = pd.read_excel('https://ckan.open-governmentdata.org/dataset/8354be81-da59-42eb-b291-7cfdad3db9b6/resource/eb18252f-c00a-4219-b30f-b3986b0125f5/download/201912.xls')

In [ ]:
df_fukuoka_kyushoku

   Unnamed: 0 Unnamed: 1  ... Unnamed: 7 Unnamed: 8
0         NaN        NaN  ...        NaN   福岡市教育委員会
1         NaN        NaN  ...        NaN        NaN
2          記号          日  ...  お　も　な　材　料      調　味　料
3         NaN        NaN  ...        NaN        NaN
4         NaN        NaN  ...        NaN        NaN
..        ...        ...  ...        ...        ...
61        NaN        NaN  ...        NaN        NaN
62        NaN        NaN  ...        NaN        NaN
63        NaN        NaN  ...        NaN        NaN
64        NaN        NaN  ...        NaN        NaN
65        NaN        NaN  ...        NaN        NaN

[66 rows x 9 columns]

## HTMLのテーブルを読み込む
- read_html関数を使う

In [ ]:
# yahoo_financeより 
year_high = pd.read_html("https://info.finance.yahoo.co.jp/ranking/?kd=29&tm=d&mk=1", parse_dates=[5])[0]

In [ ]:
year_high

     コード     市場                                名称  ... 前営業日までの年初来高値.1     高値  掲示板
0   1407  東証JQS                   (株)ウエストホールディングス  ...           2582   2611  掲示板
1   1414   東証1部                 ショーボンドホールディングス(株)  ...           5040   5130  掲示板
2   1545  東証ETF  (NEXT FUNDS)NASDAQ-100(R)連動型上場投信  ...          12070  12160  掲示板
3   1726   東証1部                  (株)ビーアールホールディングス  ...            687    696  掲示板
4   2121   東証1部                           (株)ミクシィ  ...           2367   2394  掲示板
5   2150   マザーズ                          (株)ケアネット  ...           2138   2327  掲示板
6   2178   マザーズ                        (株)トライステージ  ...            417    427  掲示板
7   2281   東証1部                          プリマハム(株)  ...           3020   3065  掲示板
8   2412   東証1部                      (株)ベネフィット・ワン  ...           2623   2657  掲示板
9   2413   東証1部                          エムスリー(株)  ...           5920   6000  掲示板
10  2484  東証JQS                            (株)出前館  ...           1992   2136  掲示板
11  2521  東証ETF        上場インデックスファンド米国株式(S&P500)H有  ...           1184   1185  掲示板
12  2522  東証ETF          iシェアーズ オートメーション&ロボット ETF  ...           2677   2699  掲示板
13  2563  東証ETF         iシェアーズ S&P500 米国株 ETF(H有)  ...           2186   2189  掲示板
14  2669  東証JQS                          カネ美食品(株)  ...           3240   3245  掲示板
15  2782  東証JQS                            (株)セリア  ...           4640   4730  掲示板
16  2811   東証1部                            カゴメ(株)  ...           3325   3330  掲示板
17  2883   東証1部                             (株)大冷  ...           2108   2119  掲示板
18  3182   東証1部                    オイシックス・ラ・大地(株)  ...           2410   2649  掲示板
19  3199   東証1部                     綿半ホールディングス(株)  ...           2301   2346  掲示板
20  3302   東証1部                           帝国繊維(株)  ...           2576   2631  掲示板
21  3333   東証1部                            (株)あさひ  ...           1798   1829  掲示板
22  3536  東証JQS                   アクサスホールディングス(株)  ...            166    214  掲示板
23  3663   東証2部                アートスパークホールディングス(株)  ...           1366   1395  掲示板
24  3665   東証1部                           (株)エニグモ  ...           1440   1463  掲示板
25  3689   マザーズ                           (株)イグニス  ...           2449   2561  掲示板
26  3694   東証1部                          (株)オプティム  ...           3775   3840  掲示板
27  3727   マザーズ                         (株)アプリックス  ...            338    357  掲示板
28  3760  東証JQS                            (株)ケイブ  ...           2717   2757  掲示板
29  3774   東証1部                 (株)インターネットイニシアティブ  ...           4195   4235  掲示板
30  3837   東証1部                         アドソル日進(株)  ...           2694   2735  掲示板
31  3902   東証1部                 メディカル・データ・ビジョン(株)  ...           1557   1595  掲示板
32  3904   マザーズ                           (株)カヤック  ...            938   1030  掲示板
33  3928   東証1部                          (株)マイネット  ...           1507   1679  掲示板
34  3962   東証1部                           (株)チェンジ  ...          10400  11760  掲示板
35  3985   東証1部                            テモナ(株)  ...           1071   1091  掲示板
36  4022   東証1部                           ラサ工業(株)  ...           1670   1725  掲示板
37  4055   マザーズ                        ティアンドエス(株)  ...          10850  13120  掲示板
38  4062   東証1部                           イビデン(株)  ...           3670   3700  掲示板
39  4206   東証1部                          アイカ工業(株)  ...           3750   3760  掲示板
40  4351  東証JQS                  (株)山田債権回収管理総合事務所  ...            606    639  掲示板
41  4393   マザーズ                 (株)バンク・オブ・イノベーション  ...           2780   3100  掲示板
42  4403   東証1部                             日油(株)  ...           4295   4310  掲示板
43  4483   マザーズ                           (株)ＪＭＤＣ  ...           8240   8400  掲示板
44  4488   マザーズ                      ＡＩ　ｉｎｓｉｄｅ(株)  ...          41300  41450  掲示板
45  4490   マザーズ                           (株)ビザスク  ...           3165   3190  掲示板
46  4528   東証1部                         小野薬品工業(株)  ...           3270   3290  掲示板
47  4612   東証1部                 日本ペイントホールディングス(株)  ...           8330   8570  掲示板
48  4812   東証1部                              ＩＳＩＤ  ...           5850   5930  掲示板
49  4975   東証1部                            (株)ＪＣＵ  ...           3590   3630  掲示板
50   コード     市場                                名称  ...   前営業日までの年初来高値     高値  掲示板

[51 rows x 9 columns]

# データを観察する

## 概要を観察する
- 先頭行を観察するheadメソッド
- 最終行を観察するtailメソッド
- データの大まかな統計値を観察するdescribeメソッド
- データのインデックスやコラムのデータ型や数値でないデータの情報を得られるinfoメソッド
- データの行列数を確認するshape属性

In [ ]:
df_fukuoka_covid.head()

   No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0   1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1   2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2   3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3   4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4   5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
df_fukuoka_covid.tail()

        No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
1975  1981       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1976  1982       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1977  1983       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1978  1984       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1979  1985       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
# 行数を変える場合引数nに値を渡す（初期値は5）
df_fukuoka_covid.head(15)

    No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0    1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1    2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2    3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3    4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4    5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
5    6       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
6    7       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
7    8       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
8    9       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
9   10       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
10  11       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
11  12       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
12  13       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
13  14       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
14  15       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN

[15 rows x 16 columns]

In [ ]:
df_fukuoka_covid.describe()

                No  全国地方公共団体コード  発症_年月日  ...  患者_渡航歴の有無フラグ   備考  退院済フラグ
count  1980.000000       1980.0     0.0  ...           3.0  0.0     0.0
mean    992.657071     401307.0     NaN  ...           1.0  NaN     NaN
std     573.723866          0.0     NaN  ...           0.0  NaN     NaN
min       1.000000     401307.0     NaN  ...           1.0  NaN     NaN
25%     495.750000     401307.0     NaN  ...           1.0  NaN     NaN
50%     991.500000     401307.0     NaN  ...           1.0  NaN     NaN
75%    1490.250000     401307.0     NaN  ...           1.0  NaN     NaN
max    1985.000000     401307.0     NaN  ...           1.0  NaN     NaN

[8 rows x 9 columns]

In [ ]:
df_fukuoka_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            1980 non-null   int64
 1   全国地方公共団体コード   1980 non-null   int64
 2   都道府県名         1980 non-null   object
 3   市区町村名         1980 non-null   object
 4   公表_年月日        1980 non-null   object
 5   曜日            1980 non-null   object
 6   発症_年月日        0 non-null      float64
 7   居住地           1980 non-null   object
 8   年代            1980 non-null   object
 9   性別            1980 non-null   object
 10  患者_属性         0 non-null      float64
 11  患者_状態         0 non-null      float64
 12  患者_症状         0 non-null      float64
 13  患者_渡航歴の有無フラグ  3 non-null      float64
 14  備考            0 non-null      float64
 15  退院済フラグ        0 non-null      float64
dtypes: float64(7), int64(2), object(7)
memory usage: 247.6+ KB

In [ ]:
df_fukuoka_covid.shape

(1980, 16)

# 便利なメソッドなど
  - NaNを含む行列を削除するdropnaメソッド
  - 不要な行列を削除するdropメソッド
  - グループをまとめるgroupbyメソッド
  - indexを数値にするreset_indexメソッド
  - 文字列を置き換えるreplaceメソッド
  - map, applyメソッド

In [ ]:
df_fukuoka_covid.head()

   No  全国地方公共団体コード 都道府県名 市区町村名  ... 患者_症状 患者_渡航歴の有無フラグ  備考 退院済フラグ
0   1       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
1   2       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
2   3       401307   福岡県   福岡市  ...   NaN          1.0 NaN    NaN
3   4       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN
4   5       401307   福岡県   福岡市  ...   NaN          NaN NaN    NaN

[5 rows x 16 columns]

In [ ]:
# NaNを含む列を削除する
df_fukuoka_covid_dropna = df_fukuoka_covid.dropna(1)
df_fukuoka_covid_dropna.head()

   No  全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0   1       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1   2       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2   3       401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3   4       401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4   5       401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性

In [ ]:
df_fukuoka_covid_dropna_num = df_fukuoka_covid_dropna.drop({"No"}, axis=1)
df_fukuoka_covid_dropna_num.head()

   全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1       401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2       401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3       401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4       401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性

In [ ]:
fukuoka_dow = df_fukuoka_covid_dropna_num.groupby('曜日')

In [ ]:
fukuoka_dow.count()

    全国地方公共団体コード  都道府県名  市区町村名  公表_年月日  居住地   年代   性別
曜日
土           289    289    289     289  289  289  289
日           293    293    293     293  293  293  293
月           158    158    158     158  158  158  158
木           356    356    356     356  356  356  356
水           297    297    297     297  297  297  297
火           201    201    201     201  201  201  201
金           386    386    386     386  386  386  386

In [ ]:
dow_fukuoka = fukuoka_dow.count()
dow_fukuoka = dow_fukuoka.reset_index()
dow_fukuoka

  曜日  全国地方公共団体コード  都道府県名  市区町村名  公表_年月日  居住地   年代   性別
0  土          289    289    289     289  289  289  289
1  日          293    293    293     293  293  293  293
2  月          158    158    158     158  158  158  158
3  木          356    356    356     356  356  356  356
4  水          297    297    297     297  297  297  297
5  火          201    201    201     201  201  201  201
6  金          386    386    386     386  386  386  386

In [ ]:
# 感染の全体的な平均年齢を出すために年代を数値にする
covid_fukuoka = df_fukuoka_covid_dropna_num.copy()
covid_fukuoka

      全国地方公共団体コード 都道府県名 市区町村名     公表_年月日 曜日     居住地   年代  性別
0          401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  男性
1          401307   福岡県   福岡市  2020/2/20  木  福岡市中央区  60代  女性
2          401307   福岡県   福岡市  2020/3/17  火   福岡市南区  30代  女性
3          401307   福岡県   福岡市  2020/3/24  火  福岡市早良区  40代  男性
4          401307   福岡県   福岡市  2020/3/26  木   福岡市東区  50代  男性
...           ...   ...   ...        ... ..     ...  ...  ..
1975       401307   福岡県   福岡市  2020/8/14  金  福岡市中央区  50代  女性
1976       401307   福岡県   福岡市  2020/8/14  金     調査中  50代  男性
1977       401307   福岡県   福岡市  2020/8/14  金     調査中  30代  男性
1978       401307   福岡県   福岡市  2020/8/14  金  福岡市中央区  20代  女性
1979       401307   福岡県   福岡市  2020/8/14  金  福岡市中央区  40代  女性

[1980 rows x 8 columns]

In [ ]:
covid_fukuoka['年代'].unique()

array(['60代', '30代', '40代', '50代', '20代', '70代', '1歳未満', '90歳以上', '80代',
       '10歳未満', '10代', '調査中'], dtype=object)

In [ ]:
# 1歳未満は0,90歳以上は90,10歳未満は1、調査中は50に置き換える
age_replace = {'1歳未満': '0', '90歳以上': '90', '10歳未満':'1', '調査中': '50'}
for b, a in age_replace.items(): 

  covid_fukuoka['年代'] = covid_fukuoka['年代'].replace(b, a)

In [ ]:
covid_fukuoka['年代'].unique()

array(['60代', '30代', '40代', '50代', '20代', '70代', '0', '90', '80代', '1',
       '10代', '50'], dtype=object)

In [ ]:
# 例えば年代を数値にしたい場合、Seriesの値を用いて関数で処理するmapメソッドを使う
covid_fukuoka['年代'] = covid_fukuoka['年代'].map(lambda x: int(x.replace('代', '')))

In [ ]:
covid_fukuoka['年代'].unique()

array([60, 30, 40, 50, 20, 70,  0, 90, 80,  1, 10])

In [ ]:
covid_fukuoka['年代'].mean()

34.63636363636363

In [ ]:
# 行全体のデータを使ってデータを作る際にはapplyメソッドを用いる
# 例えば日付、場所、年代、性別をすべて文字列で持つ列を作成する場合

# applyの事例を考える

SyntaxError: ignored

In [ ]:
。ぉｃcovid_fukuoka['公表_年月日']

0       2020/2/20
1       2020/2/20
2       2020/3/17
3       2020/3/24
4       2020/3/26
          ...
1975    2020/8/14
1976    2020/8/14
1977    2020/8/14
1978    2020/8/14
1979    2020/8/14
Name: 公表_年月日, Length: 1980, dtype: object