<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/osaka_geodata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.7MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 300kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 38.0MB/s
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Installing collected packages: munch, click-plugins, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1

In [3]:
import geopandas as gpd

In [7]:
import pandas as pd

In [8]:
df = pd.read_html('http://note.omarukun.com/notes/4/')[0]

In [9]:
df[df['都道府県'] == '大阪府']

         コード 都道府県  市区町村 市区町村.1         緯度          経度
1204  271021  大阪府   大阪市    都島区  34.701279  135.528090
1205  271039  大阪府   大阪市    福島区  34.692337  135.472229
1206  271047  大阪府   大阪市    此花区  34.683049  135.452328
1207  271063  大阪府   大阪市     西区  34.676231  135.486059
1208  271071  大阪府   大阪市     港区  34.663918  135.460681
...      ...  ...   ...    ...        ...         ...
1271  273627  大阪府   泉南郡    田尻町  34.393774  135.291174
1272  273660  大阪府   泉南郡     岬町  34.316978  135.142139
1273  273813  大阪府  南河内郡    太子町  34.518682  135.647661
1274  273821  大阪府  南河内郡    河南町  34.491637  135.629699
1275  273830  大阪府  南河内郡  千早赤阪村  34.464587  135.622537

[72 rows x 6 columns]

In [10]:
data = gpd.read_file('/content/drive/My Drive/pyconjp-tutorial/tikatyousa_2018_500m_souzokurosenka/tikatyousa_2018_500m_souzokurosenka/tikatyousa_2018_500m_souzokurosenka.shp', encoding='shift-jis')
df = pd.read_csv('/content/drive/My Drive/pyconjp-tutorial/tikatyousa_2018_500m_souzokurosenka.csv', encoding='shift-jis')

In [11]:
data

     MESH_CODE  最高路線価  ...  全平均路線                                           geometry
0     N095E040  107.0  ...   88.0  POLYGON ((-41761.008 -136153.297, -41261.017 -...
1     N095E045  105.0  ...   82.0  POLYGON ((-41261.017 -136153.290, -40761.023 -...
2     N090E035  108.0  ...   84.0  POLYGON ((-42261.011 -136653.294, -41761.023 -...
3     N090E040  121.0  ...   93.0  POLYGON ((-41761.023 -136653.292, -41261.031 -...
4     N090E045  120.0  ...   83.0  POLYGON ((-41261.031 -136653.286, -40761.035 -...
...        ...    ...  ...    ...                                                ...
1931  S120E070    0.0  ...    0.0  POLYGON ((-38761.245 -157153.171, -38261.250 -...
1932  S120E075    0.0  ...    0.0  POLYGON ((-38261.250 -157153.172, -37761.256 -...
1933  S120E080    0.0  ...    0.0  POLYGON ((-37761.256 -157153.172, -37261.261 -...
1934  S120E085    0.0  ...    0.0  POLYGON ((-37261.261 -157153.173, -36761.265 -...
1935  S120E090    0.0  ...    0.0  POLYGON ((-36761.265 -157153.173, -36261.270 -...

[1936 rows x 8 columns]

In [12]:
data.crs

<Projected CRS: EPSG:2448>
Name: JGD2000 / Japan Plane Rectangular CS VI
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Japan - zone VI
- bounds: (134.86, 33.4, 136.99, 36.33)
Coordinate Operation:
- name: Japan Plane Rectangular CS zone VI
- method: Transverse Mercator
Datum: Japanese Geodetic Datum 2000
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [13]:
data = data.to_crs(epsg=4326)

In [14]:
data.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [15]:
data.describe()

              最高路線価        最低路線価  ...        平均最低路        全平均路線
count   1936.000000  1936.000000  ...  1936.000000  1936.000000
mean     172.491736    36.185434  ...    56.297521    78.887913
std      668.832698    47.615766  ...    99.746637   184.686735
min        0.000000     0.000000  ...     0.000000     0.000000
25%        0.000000     0.000000  ...     0.000000     0.000000
50%       36.000000    26.500000  ...    32.000000    33.500000
75%      163.000000    61.000000  ...    89.250000   112.000000
max    12110.000000   620.000000  ...  2612.000000  5246.000000

[8 rows x 6 columns]

In [16]:
data['geometry'].centroid

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

0       POINT (135.54650 34.76959)
1       POINT (135.55196 34.76961)
2       POINT (135.54106 34.76507)
3       POINT (135.54652 34.76509)
4       POINT (135.55199 34.76511)
                   ...
1931    POINT (135.58023 34.58040)
1932    POINT (135.58568 34.58042)
1933    POINT (135.59113 34.58044)
1934    POINT (135.59658 34.58045)
1935    POINT (135.60203 34.58047)
Length: 1936, dtype: geometry

In [17]:
data['geometry'].centroid.x

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

0       135.546499
1       135.551961
2       135.541061
3       135.546523
4       135.551985
           ...
1931    135.580226
1932    135.585676
1933    135.591126
1934    135.596576
1935    135.602025
Length: 1936, dtype: float64

In [18]:
data['geometry'].centroid.y

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

0       34.769594
1       34.769615
2       34.765066
3       34.765087
4       34.765107
          ...
1931    34.580398
1932    34.580417
1933    34.580435
1934    34.580454
1935    34.580471
Length: 1936, dtype: float64

In [19]:
data['lng'] = data['geometry'].centroid.x
data['log'] = data['geometry'].centroid.y

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

In [21]:
data

     MESH_CODE  最高路線価  ...         lng        log
0     N095E040  107.0  ...  135.546499  34.769594
1     N095E045  105.0  ...  135.551961  34.769615
2     N090E035  108.0  ...  135.541061  34.765066
3     N090E040  121.0  ...  135.546523  34.765087
4     N090E045  120.0  ...  135.551985  34.765107
...        ...    ...  ...         ...        ...
1931  S120E070    0.0  ...  135.580226  34.580398
1932  S120E075    0.0  ...  135.585676  34.580417
1933  S120E080    0.0  ...  135.591126  34.580435
1934  S120E085    0.0  ...  135.596576  34.580454
1935  S120E090    0.0  ...  135.602025  34.580471

[1936 rows x 10 columns]