In [41]:
import geopandas as gpd
import pandas as pd

In [42]:
osaka_geo = gpd.read_file("../data/osaka_geo/h27ka27.shp")

In [43]:
osaka_geo.shape

(8897, 36)

In [44]:
pd.set_option("max_columns", 40)
osaka_geo.head(10)

,KEY_CODE,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,27,27,362,000000,大阪府,田尻町,None,None,8101,75144.542,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398..."
1,27102001001,27,102,001001,大阪府,都島区,片町１丁目,None,8101,102717.012,1667.307,2171,2170,27,大阪府,None,大阪市,都島区,0010,-,01,102001001,102001001,M,None,None,None,None,片町１丁目,14,1389,965,135.52535,34.69267,0010-01,"POLYGON ((135.52410 34.69136, 135.52353 34.691..."
2,27102001002,27,102,001002,大阪府,都島区,片町２丁目,None,8101,127975.845,1780.858,6766,6765,27,大阪府,None,大阪市,都島区,0010,-,02,102001002,102001002,M,None,None,None,None,片町２丁目,15,701,487,135.53106,34.69499,0010-02,"POLYGON ((135.52979 34.69378, 135.52954 34.693..."
3,271020020,27,102,002000,大阪府,都島区,網島町,None,8101,191219.722,2060.096,8250,8249,27,大阪府,None,大阪市,都島区,0020,-,00,102002000,1020020,M,None,None,None,None,網島町,22,1291,753,135.52474,34.69442,0020-00,"POLYGON ((135.52240 34.69230, 135.52236 34.692..."
4,27102003001,27,102,003001,大阪府,都島区,東野田町１丁目,None,8101,105965.787,1327.310,523,522,27,大阪府,None,大阪市,都島区,0030,-,01,102003001,102003001,M,None,None,None,None,東野田町１丁目,29,1616,1109,135.52858,34.69602,0030-01,"POLYGON ((135.52776 34.69448, 135.52775 34.694..."
5,27102003002,27,102,003002,大阪府,都島区,東野田町２丁目,None,8101,62239.980,1049.212,8492,8491,27,大阪府,None,大阪市,都島区,0030,-,02,102003002,102003002,M,None,None,None,None,東野田町２丁目,12,440,284,135.53177,34.69741,0030-02,"POLYGON ((135.53329 34.69809, 135.53335 34.697..."
6,27102003003,27,102,003003,大阪府,都島区,東野田町３丁目,None,8101,56534.539,978.577,2442,2441,27,大阪府,None,大阪市,都島区,0030,-,03,102003003,102003003,M,None,None,None,None,東野田町３丁目,15,419,250,135.53467,34.69812,0030-03,"POLYGON ((135.53567 34.69701, 135.53447 34.696..."
7,27102003004,27,102,003004,大阪府,都島区,東野田町４丁目,None,8101,155012.504,1721.662,7891,7890,27,大阪府,None,大阪市,都島区,0030,-,04,102003004,102003004,M,None,None,None,None,東野田町４丁目,24,1391,891,135.52992,34.69946,0030-04,"POLYGON ((135.53005 34.69809, 135.52958 34.698..."
8,27102003005,27,102,003005,大阪府,都島区,東野田町５丁目,None,8101,94619.029,1520.448,1630,1629,27,大阪府,None,大阪市,都島区,0030,-,05,102003005,102003005,M,None,None,None,None,東野田町５丁目,24,1341,832,135.53551,34.70054,0030-05,"POLYGON ((135.53474 34.69905, 135.53466 34.699..."
9,27102004001,27,102,004001,大阪府,都島区,中野町１丁目,None,8101,139151.613,1586.691,740,739,27,大阪府,None,大阪市,都島区,0040,-,01,102004001,102004001,M,None,None,None,None,中野町１丁目,18,1046,671,135.52376,34.69927,0040-01,"POLYGON ((135.52504 34.69739, 135.52480 34.697..."

In [13]:
data = pd.read_csv("../data/osaka_data/tblT000865C27.txt", encoding="shift_jis", header=[0, 1])

In [45]:
data[:10]

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T000865001,T000865002,T000865003,T000865004,T000865005,T000865006,T000865007,T000865008,T000865009,T000865010,T000865011,T000865012,T000865013,T000865014,T000865015,T000865016,T000865017,T000865018,T000865019,T000865020,T000865021,T000865022,T000865023,T000865024,T000865025
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,44395,28,25,1,3,2401,5505,186,2012,1844,6730,1130,1476,2007,3085,1418,1860,4945,240,2983,1111,5430,35413,3611,907
1,271020010,2,大阪市都島区,片町,0,NaN,NaN,1029,2,2,-,-,44,120,4,75,21,130,24,36,65,64,21,48,97,2,54,24,198,759,69,22
2,27102001001,3,大阪市都島区,片町１丁目,0,NaN,NaN,684,1,1,-,-,28,61,3,53,14,80,19,17,41,50,13,36,69,1,36,19,143,503,41,15
3,27102001002,3,大阪市都島区,片町２丁目,0,NaN,NaN,345,1,1,-,-,16,59,1,22,7,50,5,19,24,14,8,12,28,1,18,5,55,256,28,7
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,566,-,-,-,-,14,61,4,37,16,56,9,17,35,69,20,27,43,-,45,11,102,412,49,13
5,271020030,2,大阪市都島区,東野田町,0,NaN,NaN,2255,1,1,-,-,85,314,5,178,61,292,59,81,72,171,69,81,196,3,147,32,408,1657,178,50
6,27102003001,3,大阪市都島区,東野田町１丁目,0,NaN,NaN,840,1,1,-,-,35,140,2,64,22,100,26,22,24,53,20,28,64,2,39,14,184,624,48,9
7,27102003002,3,大阪市都島区,東野田町２丁目,0,NaN,NaN,179,-,-,-,-,4,26,-,29,2,21,7,7,6,10,5,3,16,-,12,3,28,140,7,5
8,27102003003,3,大阪市都島区,東野田町３丁目,0,NaN,NaN,142,-,-,-,-,3,9,-,3,3,20,4,10,4,21,7,4,16,-,18,1,19,96,24,7
9,27102003004,3,大阪市都島区,東野田町４丁目,0,NaN,NaN,550,-,-,-,-,22,62,2,31,16,73,10,29,19,47,23,19,55,1,38,8,95,392,54,14

In [15]:
osaka_geo["KEY_CODE"].unique()

array(['27', '27102001001', '27102001002', ..., '273830090', '273830100',
       '273830110'], dtype=object)

In [18]:
data.columns[0]

('KEY_CODE', 'Unnamed: 0_level_1')

In [28]:
data[data[data.columns[0]]==27102]

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T000865001,T000865002,T000865003,T000865004,T000865005,T000865006,T000865007,T000865008,T000865009,T000865010,T000865011,T000865012,T000865013,T000865014,T000865015,T000865016,T000865017,T000865018,T000865019,T000865020,T000865021,T000865022,T000865023,T000865024,T000865025
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,44395,28,25,1,3,2401,5505,186,2012,1844,6730,1130,1476,2007,3085,1418,1860,4945,240,2983,1111,5430,35413,3611,907

In [32]:
osaka_geo[osaka_geo[osaka_geo.columns[3]] == "片町"]

Empty GeoDataFrame
Columns: [KEY_CODE, PREF, CITY, S_AREA, PREF_NAME, CITY_NAME, S_NAME, KIGO_E, HCODE, AREA, PERIMETER, H27KAxx_, H27KAxx_ID, KEN, KEN_NAME, SITYO_NAME, GST_NAME, CSS_NAME, KIHON1, DUMMY1, KIHON2, KEYCODE1, KEYCODE2, AREA_MAX_F, KIGO_D, N_KEN, N_CITY, KIGO_I, MOJI, KBSUM, JINKO, SETAI, X_CODE, Y_CODE, KCODE1, geometry]
Index: []

In [39]:
osaka_geo[osaka_geo[osaka_geo.columns[5]] == "田尻町"]

,KEY_CODE,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,27,27,362,000000,大阪府,田尻町,None,None,8101,75144.542,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398..."
8774,273620010,27,362,001000,大阪府,田尻町,嘉祥寺,None,8101,922762.224,6194.290,6465,6464,27,大阪府,None,泉南郡,田尻町,0010,-,00,362001000,3620010,M,None,None,None,None,嘉祥寺,54,2961,1129,135.29370,34.39253,0010-00,"POLYGON ((135.28863 34.39507, 135.28833 34.394..."
8775,273620020,27,362,002000,大阪府,田尻町,吉見,None,8101,955775.424,5464.852,8458,8457,27,大阪府,None,泉南郡,田尻町,0020,-,00,362002000,3620020,M,None,None,None,None,吉見,64,3384,1327,135.28709,34.38966,0020-00,"POLYGON ((135.29458 34.38574, 135.29453 34.385..."
8776,273620030,27,362,003000,大阪府,田尻町,泉州空港中,None,8101,2630875.566,11459.680,4767,4766,27,大阪府,None,泉南郡,田尻町,0030,-,00,362003000,3620030,M,D,27,228,None,泉州空港中,2,1,1,135.24154,34.43477,0030-00,"POLYGON ((135.23307 34.43159, 135.23821 34.435..."
8777,273620040,27,362,004000,大阪府,田尻町,りんくうポート北,None,8101,249559.992,2934.208,5035,5034,27,大阪府,None,泉南郡,田尻町,0040,-,00,362004000,3620040,M,None,None,None,None,りんくうポート北,24,1581,825,135.28925,34.39996,0040-00,"POLYGON ((135.28930 34.39740, 135.28902 34.397..."
8778,273620050,27,362,005000,大阪府,田尻町,りんくうポート南,None,8101,190918.757,2159.041,3912,3911,27,大阪府,None,泉南郡,田尻町,0050,-,00,362005000,3620050,M,None,None,None,None,りんくうポート南,5,490,490,135.28400,34.39611,0050-00,"POLYGON ((135.28554 34.39861, 135.28551 34.398..."

In [40]:
data[data.columns[2]].unique()

array(['大阪市都島区', '大阪市福島区', '大阪市此花区', '大阪市西区', '大阪市港区', '大阪市大正区',
       '大阪市天王寺区', '大阪市浪速区', '大阪市西淀川区', '大阪市東淀川区', '大阪市東成区', '大阪市生野区',
       '大阪市旭区', '大阪市城東区', '大阪市阿倍野区', '大阪市住吉区', '大阪市東住吉区', '大阪市西成区',
       '大阪市淀川区', '大阪市鶴見区', '大阪市住之江区', '大阪市平野区', '大阪市北区', '大阪市中央区', '堺市堺区',
       '堺市中区', '堺市東区', '堺市西区', '堺市南区', '堺市北区', '堺市美原区', '岸和田市', '豊中市',
       '池田市', '吹田市', '泉大津市', '高槻市', '貝塚市', '守口市', '枚方市', '茨木市', '八尾市',
       '泉佐野市', '富田林市', '寝屋川市', '河内長野市', '松原市', '大東市', '和泉市', '箕面市', '柏原市',
       '羽曳野市', '門真市', '摂津市', '高石市', '藤井寺市', '東大阪市', '泉南市', '四條畷市', '交野市',
       '大阪狭山市', '阪南市', '三島郡島本町', '豊能郡豊能町', '豊能郡能勢町', '泉北郡忠岡町', '泉南郡熊取町',
       '泉南郡田尻町', '泉南郡岬町', '南河内郡太子町', '南河内郡河南町', '南河内郡千早赤阪村'], dtype=object)

In [48]:
data[data[data.columns[2]] == '泉南郡田尻町']

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T000865001,T000865002,T000865003,T000865004,T000865005,T000865006,T000865007,T000865008,T000865009,T000865010,T000865011,T000865012,T000865013,T000865014,T000865015,T000865016,T000865017,T000865018,T000865019,T000865020,T000865021,T000865022,T000865023,T000865024,T000865025
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
10444,27362,1,泉南郡田尻町,NaN,0,NaN,NaN,4058,62,62,9,-,172,416,10,39,375,526,48,51,54,205,114,157,414,17,207,852,330,3458,278,100
10445,273620010,2,泉南郡田尻町,嘉祥寺,0,NaN,NaN,1319,21,21,5,-,65,190,6,17,114,225,18,26,22,85,52,62,168,9,70,87,77,1134,113,48
10446,273620020,2,泉南郡田尻町,吉見,1,NaN,0030,1518,41,41,3,-,82,194,3,21,129,252,26,24,30,94,51,73,182,6,99,114,94,1254,148,50
10447,273620030,2,泉南郡田尻町,泉州空港中,2,20.0,NaN,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X
10448,273620040,2,泉南郡田尻町,りんくうポート北,0,NaN,NaN,732,-,-,1,-,25,32,1,1,132,48,4,1,2,26,11,21,64,2,38,234,89,648,17,2
10449,273620050,2,泉南郡田尻町,りんくうポート南,0,NaN,NaN,489,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,1,-,-,-,417,70,422,-,-

In [50]:
data[data[data.columns[2]] == "大阪市都島区"]

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T000865001,T000865002,T000865003,T000865004,T000865005,T000865006,T000865007,T000865008,T000865009,T000865010,T000865011,T000865012,T000865013,T000865014,T000865015,T000865016,T000865017,T000865018,T000865019,T000865020,T000865021,T000865022,T000865023,T000865024,T000865025
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,44395,28,25,1,3,2401,5505,186,2012,1844,6730,1130,1476,2007,3085,1418,1860,4945,240,2983,1111,5430,35413,3611,907
1,271020010,2,大阪市都島区,片町,0,NaN,NaN,1029,2,2,-,-,44,120,4,75,21,130,24,36,65,64,21,48,97,2,54,24,198,759,69,22
2,27102001001,3,大阪市都島区,片町１丁目,0,NaN,NaN,684,1,1,-,-,28,61,3,53,14,80,19,17,41,50,13,36,69,1,36,19,143,503,41,15
3,27102001002,3,大阪市都島区,片町２丁目,0,NaN,NaN,345,1,1,-,-,16,59,1,22,7,50,5,19,24,14,8,12,28,1,18,5,55,256,28,7
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,566,-,-,-,-,14,61,4,37,16,56,9,17,35,69,20,27,43,-,45,11,102,412,49,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,27102015001,3,大阪市都島区,毛馬町１丁目,0,NaN,NaN,469,-,-,-,-,38,55,-,13,20,87,8,8,20,42,18,15,52,-,34,5,54,362,51,14
58,27102015002,3,大阪市都島区,毛馬町２丁目,0,NaN,NaN,1842,1,1,-,-,115,212,10,36,117,281,34,47,60,139,67,37,195,3,148,80,260,1435,161,37
59,27102015003,3,大阪市都島区,毛馬町３丁目,0,NaN,NaN,584,1,1,-,-,33,82,4,29,43,83,15,24,32,44,13,23,65,1,35,19,38,519,35,5
60,27102015004,3,大阪市都島区,毛馬町４丁目,0,NaN,NaN,621,2,2,-,-,49,87,-,16,44,105,12,14,16,33,14,18,67,3,48,11,82,493,56,12
61,27102015005,3,大阪市都島区,毛馬町５丁目,0,NaN,NaN,522,-,-,-,-,35,57,-,14,34,84,10,20,12,44,30,14,68,-,46,4,50,429,46,8

In [52]:
osaka_geo["S_NAME"] = osaka_geo["S_NAME"].fillna(0)

In [55]:
osaka_geo[osaka_geo["S_NAME"]==0]

,KEY_CODE,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,27,27,362,000000,大阪府,田尻町,0,None,8101,7.514454e+04,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398..."
149,271041000,27,104,100000,大阪府,此花区,0,None,8154,1.321406e+07,56324.244,8897,8896,27,大阪府,None,大阪市,此花区,1000,-,00,104100000,1041000,M,None,None,None,None,None,1,0,0,135.41118,34.65089,1000-00,"POLYGON ((135.41192 34.67666, 135.40714 34.674..."
267,271071000,27,107,100000,大阪府,港区,0,None,8154,3.323573e+06,37999.074,8891,8890,27,大阪府,None,大阪市,港区,1000,-,00,107100000,1071000,M,None,None,None,None,None,1,0,0,135.43576,34.65807,1000-00,"POLYGON ((135.45602 34.67513, 135.45592 34.675..."
316,271081000,27,108,100000,大阪府,大正区,0,None,8154,2.430999e+06,29353.412,8895,8894,27,大阪府,None,大阪市,大正区,1000,-,00,108100000,1081000,M,None,None,None,None,None,1,0,0,135.44468,34.64146,1000-00,"POLYGON ((135.46406 34.65784, 135.46395 34.657..."
513,271131000,27,113,100000,大阪府,西淀川区,0,None,8154,2.737339e+06,13091.428,8894,8893,27,大阪府,None,大阪市,西淀川区,1000,-,00,113100000,1131000,M,None,None,None,None,None,1,0,0,135.40937,34.68873,1000-00,"POLYGON ((135.41853 34.70327, 135.41735 34.702..."

In [57]:
data[data[data.columns[1]]==3].iloc[0, 0]

27102001001

In [58]:
type(data[data[data.columns[1]]==3].iloc[0, 0])

numpy.int64

In [60]:
len(str(data[data[data.columns[1]]==3].iloc[0, 0]))

11

In [61]:
data[data[data.columns[1]]==2].iloc[0, 0]

271020010

In [62]:
len(str(data[data[data.columns[1]]==2].iloc[0, 0]))

9

In [63]:
data[data[data.columns[1]]==1].iloc[0, 0]

27102

In [65]:
len(str(data[data[data.columns[1]]==1].iloc[0, 0]))

5

In [68]:
str(data[data[data.columns[1]]==1].iloc[0, 0]).ljust(11, "0")

'27102000000'

In [69]:
len(str(data[data[data.columns[1]]==1].iloc[0, 0]).ljust(11, "0"))

11

In [70]:
data.columns[0]

('KEY_CODE', 'Unnamed: 0_level_1')

In [72]:
data[("KEY_C", "KEY_C")] = str(data[data.columns[0]]).ljust(11, "0")

In [78]:
data.columns.get_level_values(0)

Index(['KEY_CODE', 'HYOSYO', 'CITYNAME', 'NAME', 'HTKSYORI', 'HTKSAKI',
       'GASSAN', 'T000865001', 'T000865002', 'T000865003', 'T000865004',
       'T000865005', 'T000865006', 'T000865007', 'T000865008', 'T000865009',
       'T000865010', 'T000865011', 'T000865012', 'T000865013', 'T000865014',
       'T000865015', 'T000865016', 'T000865017', 'T000865018', 'T000865019',
       'T000865020', 'T000865021', 'T000865022', 'T000865023', 'T000865024',
       'T000865025', 'KEY_C'],
      dtype='object')

In [79]:
data.columns.get_level_values(1)

Index(['Unnamed: 0_level_1', 'Unnamed: 1_level_1', 'Unnamed: 2_level_1',
       'Unnamed: 3_level_1', 'Unnamed: 4_level_1', 'Unnamed: 5_level_1',
       'Unnamed: 6_level_1', '総数', 'Ａ　農業、林業', '　うち農業', 'Ｂ　漁業',
       'Ｃ　鉱業、採石業、砂利採取業', 'Ｄ　建設業', 'Ｅ　製造業', 'Ｆ　電気・ガス・熱供給・水道業', 'Ｇ　情報通信業',
       'Ｈ　運輸業、郵便業', 'Ｉ　卸売業、小売業', 'Ｊ　金融業、保険業', 'Ｋ　不動産業、物品賃貸業',
       'Ｌ　学術研究、専門・技術サービス業', 'Ｍ　宿泊業、飲食サービス業', 'Ｎ　生活関連サービス業、娯楽業', 'Ｏ　教育、学習支援業',
       'Ｐ　医療、福祉', 'Ｑ　複合サービス事業', 'Ｒ　サービス業（他に分類されないもの）', 'Ｓ　公務（他に分類されるものを除く）',
       'Ｔ　分類不能の産業', '雇用者（役員を含む）', '自営業主（家庭内職者を含む）', '家族従業者', 'KEY_C'],
      dtype='object')

In [83]:
list(data.columns.get_level_values(0)[:7]) + list(data.columns.get_level_values(1)[7:])

['KEY_CODE',
 'HYOSYO',
 'CITYNAME',
 'NAME',
 'HTKSYORI',
 'HTKSAKI',
 'GASSAN',
 '総数',
 'Ａ\u3000農業、林業',
 '\u3000うち農業',
 'Ｂ\u3000漁業',
 'Ｃ\u3000鉱業、採石業、砂利採取業',
 'Ｄ\u3000建設業',
 'Ｅ\u3000製造業',
 'Ｆ\u3000電気・ガス・熱供給・水道業',
 'Ｇ\u3000情報通信業',
 'Ｈ\u3000運輸業、郵便業',
 'Ｉ\u3000卸売業、小売業',
 'Ｊ\u3000金融業、保険業',
 'Ｋ\u3000不動産業、物品賃貸業',
 'Ｌ\u3000学術研究、専門・技術サービス業',
 'Ｍ\u3000宿泊業、飲食サービス業',
 'Ｎ\u3000生活関連サービス業、娯楽業',
 'Ｏ\u3000教育、学習支援業',
 'Ｐ\u3000医療、福祉',
 'Ｑ\u3000複合サービス事業',
 'Ｒ\u3000サービス業（他に分類されないもの）',
 'Ｓ\u3000公務（他に分類されるものを除く）',
 'Ｔ\u3000分類不能の産業',
 '雇用者（役員を含む）',
 '自営業主（家庭内職者を含む）',
 '家族従業者',
 'KEY_C']

In [84]:
cols_name = list(data.columns.get_level_values(0)[:7]) + list(data.columns.get_level_values(1)[7:])
data.columns = cols_name

In [85]:
data.head()

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者,KEY_C
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,44395,28,25,1,3,2401,5505,186,2012,1844,6730,1130,1476,2007,3085,1418,1860,4945,240,2983,1111,5430,35413,3611,907,0 27102\n1 271020010\n2 ...
1,271020010,2,大阪市都島区,片町,0,NaN,NaN,1029,2,2,-,-,44,120,4,75,21,130,24,36,65,64,21,48,97,2,54,24,198,759,69,22,0 27102\n1 271020010\n2 ...
2,27102001001,3,大阪市都島区,片町１丁目,0,NaN,NaN,684,1,1,-,-,28,61,3,53,14,80,19,17,41,50,13,36,69,1,36,19,143,503,41,15,0 27102\n1 271020010\n2 ...
3,27102001002,3,大阪市都島区,片町２丁目,0,NaN,NaN,345,1,1,-,-,16,59,1,22,7,50,5,19,24,14,8,12,28,1,18,5,55,256,28,7,0 27102\n1 271020010\n2 ...
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,566,-,-,-,-,14,61,4,37,16,56,9,17,35,69,20,27,43,-,45,11,102,412,49,13,0 27102\n1 271020010\n2 ...

In [86]:
data["KEY_C"] = data["KEY_CODE"].apply(lambda x: str(x).ljust(11, "0"))

In [87]:
data

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者,KEY_C
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,44395,28,25,1,3,2401,5505,186,2012,1844,6730,1130,1476,2007,3085,1418,1860,4945,240,2983,1111,5430,35413,3611,907,27102000000
1,271020010,2,大阪市都島区,片町,0,NaN,NaN,1029,2,2,-,-,44,120,4,75,21,130,24,36,65,64,21,48,97,2,54,24,198,759,69,22,27102001000
2,27102001001,3,大阪市都島区,片町１丁目,0,NaN,NaN,684,1,1,-,-,28,61,3,53,14,80,19,17,41,50,13,36,69,1,36,19,143,503,41,15,27102001001
3,27102001002,3,大阪市都島区,片町２丁目,0,NaN,NaN,345,1,1,-,-,16,59,1,22,7,50,5,19,24,14,8,12,28,1,18,5,55,256,28,7,27102001002
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,566,-,-,-,-,14,61,4,37,16,56,9,17,35,69,20,27,43,-,45,11,102,412,49,13,27102002000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10567,27383007001,3,南河内郡千早赤阪村,大字小吹,0,NaN,NaN,129,13,13,-,-,10,14,-,-,4,14,1,1,7,10,5,9,13,2,17,8,1,102,18,8,27383007001
10568,27383007002,3,南河内郡千早赤阪村,大字小吹,0,NaN,NaN,723,4,4,-,-,38,104,7,16,42,125,11,14,30,25,15,45,137,3,61,26,20,608,90,18,27383007002
10569,273830090,2,南河内郡千早赤阪村,大字中津原,0,NaN,NaN,116,8,5,-,-,6,34,2,1,2,13,2,4,4,7,5,7,9,1,8,3,-,89,20,7,27383009000
10570,273830100,2,南河内郡千早赤阪村,大字東阪,0,NaN,NaN,192,23,22,-,-,19,26,-,-,19,34,7,2,1,5,7,7,19,2,11,7,3,154,25,12,27383010000
10571,273830110,2,南河内郡千早赤阪村,大字千早,0,NaN,NaN,96,1,-,-,-,3,15,-,3,7,14,-,2,3,9,7,5,15,2,2,6,2,79,13,3,27383011000

In [89]:
osaka_geo.head()

,KEY_CODE,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,27,27,362,000000,大阪府,田尻町,0,None,8101,75144.542,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398..."
1,27102001001,27,102,001001,大阪府,都島区,片町１丁目,None,8101,102717.012,1667.307,2171,2170,27,大阪府,None,大阪市,都島区,0010,-,01,102001001,102001001,M,None,None,None,None,片町１丁目,14,1389,965,135.52535,34.69267,0010-01,"POLYGON ((135.52410 34.69136, 135.52353 34.691..."
2,27102001002,27,102,001002,大阪府,都島区,片町２丁目,None,8101,127975.845,1780.858,6766,6765,27,大阪府,None,大阪市,都島区,0010,-,02,102001002,102001002,M,None,None,None,None,片町２丁目,15,701,487,135.53106,34.69499,0010-02,"POLYGON ((135.52979 34.69378, 135.52954 34.693..."
3,271020020,27,102,002000,大阪府,都島区,網島町,None,8101,191219.722,2060.096,8250,8249,27,大阪府,None,大阪市,都島区,0020,-,00,102002000,1020020,M,None,None,None,None,網島町,22,1291,753,135.52474,34.69442,0020-00,"POLYGON ((135.52240 34.69230, 135.52236 34.692..."
4,27102003001,27,102,003001,大阪府,都島区,東野田町１丁目,None,8101,105965.787,1327.310,523,522,27,大阪府,None,大阪市,都島区,0030,-,01,102003001,102003001,M,None,None,None,None,東野田町１丁目,29,1616,1109,135.52858,34.69602,0030-01,"POLYGON ((135.52776 34.69448, 135.52775 34.694..."

In [92]:
osaka_geo["KEY_C"] = osaka_geo["PREF"].astype(str) + osaka_geo["CITY"].astype(str) + osaka_geo["S_AREA"].astype(str)

In [95]:
osaka_geo.head()

,KEY_CODE,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry,KEY_C
0,27,27,362,000000,大阪府,田尻町,0,None,8101,75144.542,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398...",27362000000
1,27102001001,27,102,001001,大阪府,都島区,片町１丁目,None,8101,102717.012,1667.307,2171,2170,27,大阪府,None,大阪市,都島区,0010,-,01,102001001,102001001,M,None,None,None,None,片町１丁目,14,1389,965,135.52535,34.69267,0010-01,"POLYGON ((135.52410 34.69136, 135.52353 34.691...",27102001001
2,27102001002,27,102,001002,大阪府,都島区,片町２丁目,None,8101,127975.845,1780.858,6766,6765,27,大阪府,None,大阪市,都島区,0010,-,02,102001002,102001002,M,None,None,None,None,片町２丁目,15,701,487,135.53106,34.69499,0010-02,"POLYGON ((135.52979 34.69378, 135.52954 34.693...",27102001002
3,271020020,27,102,002000,大阪府,都島区,網島町,None,8101,191219.722,2060.096,8250,8249,27,大阪府,None,大阪市,都島区,0020,-,00,102002000,1020020,M,None,None,None,None,網島町,22,1291,753,135.52474,34.69442,0020-00,"POLYGON ((135.52240 34.69230, 135.52236 34.692...",27102002000
4,27102003001,27,102,003001,大阪府,都島区,東野田町１丁目,None,8101,105965.787,1327.310,523,522,27,大阪府,None,大阪市,都島区,0030,-,01,102003001,102003001,M,None,None,None,None,東野田町１丁目,29,1616,1109,135.52858,34.69602,0030-01,"POLYGON ((135.52776 34.69448, 135.52775 34.694...",27102003001

In [97]:
test_osaka = osaka_geo.merge(data, left_on="KEY_C", right_on="KEY_C")

In [98]:
pd.set_option("max_columns", 80)
test_osaka.head()

,KEY_CODE_x,PREF,CITY,S_AREA,PREF_NAME,CITY_NAME,S_NAME,KIGO_E,HCODE,AREA,PERIMETER,H27KAxx_,H27KAxx_ID,KEN,KEN_NAME,SITYO_NAME,GST_NAME,CSS_NAME,KIHON1,DUMMY1,KIHON2,KEYCODE1,KEYCODE2,AREA_MAX_F,KIGO_D,N_KEN,N_CITY,KIGO_I,MOJI,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry,KEY_C,KEY_CODE_y,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数,Ａ 農業、林業,うち農業,Ｂ 漁業,Ｃ 鉱業、採石業、砂利採取業,Ｄ 建設業,Ｅ 製造業,Ｆ 電気・ガス・熱供給・水道業,Ｇ 情報通信業,Ｈ 運輸業、郵便業,Ｉ 卸売業、小売業,Ｊ 金融業、保険業,Ｋ 不動産業、物品賃貸業,Ｌ 学術研究、専門・技術サービス業,Ｍ 宿泊業、飲食サービス業,Ｎ 生活関連サービス業、娯楽業,Ｏ 教育、学習支援業,Ｐ 医療、福祉,Ｑ 複合サービス事業,Ｒ サービス業（他に分類されないもの）,Ｓ 公務（他に分類されるものを除く）,Ｔ 分類不能の産業,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
0,27,27,362,000000,大阪府,田尻町,0,None,8101,75144.542,1311.122,5891,5890,27,大阪府,None,泉南郡,田尻町,0000,-,00,362000000,None,None,None,None,None,None,None,0,0,0,135.28641,34.39792,0000-00,"POLYGON ((135.28779 34.39860, 135.28818 34.398...",27362000000,27362,1,泉南郡田尻町,NaN,0,NaN,NaN,4058,62,62,9,-,172,416,10,39,375,526,48,51,54,205,114,157,414,17,207,852,330,3458,278,100
1,27102001001,27,102,001001,大阪府,都島区,片町１丁目,None,8101,102717.012,1667.307,2171,2170,27,大阪府,None,大阪市,都島区,0010,-,01,102001001,102001001,M,None,None,None,None,片町１丁目,14,1389,965,135.52535,34.69267,0010-01,"POLYGON ((135.52410 34.69136, 135.52353 34.691...",27102001001,27102001001,3,大阪市都島区,片町１丁目,0,NaN,NaN,684,1,1,-,-,28,61,3,53,14,80,19,17,41,50,13,36,69,1,36,19,143,503,41,15
2,27102001002,27,102,001002,大阪府,都島区,片町２丁目,None,8101,127975.845,1780.858,6766,6765,27,大阪府,None,大阪市,都島区,0010,-,02,102001002,102001002,M,None,None,None,None,片町２丁目,15,701,487,135.53106,34.69499,0010-02,"POLYGON ((135.52979 34.69378, 135.52954 34.693...",27102001002,27102001002,3,大阪市都島区,片町２丁目,0,NaN,NaN,345,1,1,-,-,16,59,1,22,7,50,5,19,24,14,8,12,28,1,18,5,55,256,28,7
3,271020020,27,102,002000,大阪府,都島区,網島町,None,8101,191219.722,2060.096,8250,8249,27,大阪府,None,大阪市,都島区,0020,-,00,102002000,1020020,M,None,None,None,None,網島町,22,1291,753,135.52474,34.69442,0020-00,"POLYGON ((135.52240 34.69230, 135.52236 34.692...",27102002000,271020020,2,大阪市都島区,網島町,0,NaN,NaN,566,-,-,-,-,14,61,4,37,16,56,9,17,35,69,20,27,43,-,45,11,102,412,49,13
4,27102003001,27,102,003001,大阪府,都島区,東野田町１丁目,None,8101,105965.787,1327.310,523,522,27,大阪府,None,大阪市,都島区,0030,-,01,102003001,102003001,M,None,None,None,None,東野田町１丁目,29,1616,1109,135.52858,34.69602,0030-01,"POLYGON ((135.52776 34.69448, 135.52775 34.694...",27102003001,27102003001,3,大阪市都島区,東野田町１丁目,0,NaN,NaN,840,1,1,-,-,35,140,2,64,22,100,26,22,24,53,20,28,64,2,39,14,184,624,48,9